care/force-app/main/default/flows/Account_Autofill_Related_Account_Lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Account_Type</name>
        <label>Account Type</label>
        <locationX>875</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Check_For_Sysadmin</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employer_Program__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mappings_Person</targetReference>
            </connector>
            <label>Person Account</label>
        </rules>
        <rules>
            <name>Business_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Corportate_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mappings_Business</targetReference>
            </connector>
            <label>Business Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Business_Account_Found</name>
        <label>Business Account Found</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Blank_Related_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BusinessAccountFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Business_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Business_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Sysadmin</name>
        <label>Check For Sysadmin</label>
        <locationX>1414</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_For_Sysadmin_Profile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blank_Both_Related_Fields_0</targetReference>
            </connector>
            <label>Check For Sysadmin Profile</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mapping_Found_Business</name>
        <label>Mapping Found - Business</label>
        <locationX>952</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Blank_Related_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BusinessFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mappings_Business</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mapping_Found_Person</name>
        <label>Mapping Found - Person</label>
        <locationX>336</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Blank_Related_Business_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_PersonMapping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mappings_Person</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Business_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Account_Found</name>
        <label>Person Account Found</label>
        <locationX>798</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Blank_Related_Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesPersonFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Person_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>rooke.vites@gearscrm.com</description>
    <environments>Default</environments>
    <interviewLabel>Account -- Autofill Related Account Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account -- Autofill Related Account Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Business_Account</name>
        <label>Get Business Account</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corportate_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Mappings_Person.Corporate_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mappings_Business</name>
        <label>Get Mappings - Business</label>
        <locationX>952</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mapping_Found_Business</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corporate_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Corportate_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Employer_Program__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Code_Mapping__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mappings_Person</name>
        <label>Get Mappings - Person</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mapping_Found_Person</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employer_Program__pc</elementReference>
            </value>
        </filters>
        <filters>
            <field>Corporate_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Code_Mapping__c</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>798</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Account_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer_Program__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Mappings_Business.Employer_Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Blank_Both_Related_Fields_0</name>
        <label>Blank Both Related Fields</label>
        <locationX>1282</locationX>
        <locationY>551</locationY>
        <inputAssignments>
            <field>Related_Business_Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Person_Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blank_Related_Business_Account</name>
        <label>Blank Related_Business_Account</label>
        <locationX>336</locationX>
        <locationY>1343</locationY>
        <inputAssignments>
            <field>Related_Business_Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Blank_Related_Person_Account</name>
        <label>Blank Related_Person_Account</label>
        <locationX>952</locationX>
        <locationY>1343</locationY>
        <inputAssignments>
            <field>Related_Person_Account__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Business_Account</name>
        <label>Update Related_Business_Account</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Related_Business_Account__c</field>
            <value>
                <elementReference>Get_Business_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Person_Account</name>
        <label>Update Related_Person_Account</label>
        <locationX>666</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Related_Person_Account__c</field>
            <value>
                <elementReference>Get_Person_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Account_Type</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
