care/force-app/main/default/flows/Account_Link_to_Client_Groups.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_CurrentMember_to_List</name>
        <label>Add CurrentMember to List</label>
        <locationX>490</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>MemberList</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>CurrentMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Corporate_Code_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_CurrentMember_to_List2</name>
        <label>Add CurrentMember to List</label>
        <locationX>138</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>MemberList</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>CurrentMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Employer_Program_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CurrentMember</name>
        <label>Assign CurrentMember</label>
        <locationX>490</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>CurrentMember.Client_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Corporate_Code_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMember.Member_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentMember_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CurrentMember2</name>
        <label>Assign CurrentMember</label>
        <locationX>138</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>CurrentMember.Client_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Employer_Program_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMember.Member_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_CurrentMember_to_List2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>MemberList_not_empty</name>
        <label>MemberList Not Empty?</label>
        <locationX>358</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Get_Accounts_List_Empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_MemberList</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemberList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Group_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Memberships_Found</name>
        <label>Memberships Found?</label>
        <locationX>358</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Person_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Key_Field_Updated</name>
        <label>New or Key Field Updated</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Corportate_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employer_Program__pc</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Person_Account</name>
        <label>Person Account?</label>
        <locationX>358</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Yes_PersonAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Employer_Program__pc</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Corporate_Code_from_Code_Mapping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>No_Person</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Corportate_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Client_Groups_by_Corporate_Code</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account - Link to Client Groups {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Link to Client Groups</label>
    <loops>
        <name>Corporate_Code_Loop</name>
        <label>Corporate Code Loop</label>
        <locationX>402</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_Client_Groups_by_Corporate_Code</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CurrentMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MemberList_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Employer_Program_Loop</name>
        <label>Employer Program Loop</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Client_Groups_by_Employer_Program</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CurrentMember2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MemberList_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Group_Memberships</name>
        <label>Create Client Group Memberships</label>
        <locationX>226</locationX>
        <locationY>1943</locationY>
        <inputReference>MemberList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Memberships</name>
        <label>Delete Existing Memberships</label>
        <locationX>226</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Person_Account</targetReference>
        </connector>
        <inputReference>Get_Existing_Memberships</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Accounts_List_Empty</name>
        <label>Get Accounts List Empty</label>
        <locationX>490</locationX>
        <locationY>1943</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0013900001ZTPNvAAP</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Groups_by_Corporate_Code</name>
        <label>Get Client Groups by Corporate Code</label>
        <locationX>402</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Corporate_Code_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Corporation_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Corportate_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Client_Groups_by_Employer_Program</name>
        <label>Get Client Groups by Employer Program</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employer_Program_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Corporation_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Corporate_Code_from_Code_Mapping.Group_Corp_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Corporate_Code_from_Code_Mapping</name>
        <label>Get Corporate Code from Code Mapping</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Client_Groups_by_Employer_Program</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer_Program__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Employer_Program__pc</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Code_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Memberships</name>
        <label>Get Existing Memberships</label>
        <locationX>358</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Memberships_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Member_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Group_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Key_Field_Updated</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Group_Membership__c</objectType>
    </variables>
    <variables>
        <name>MemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Group_Membership__c</objectType>
    </variables>
</Flow>
