care/force-app/main/default/flows/AR_Case_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>AR_Flow_Case</name>
        <label>AR Flow Case</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Suppressed_B2B_Relationships</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>backup@aniseattle.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>backupcare@nanny-network.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>info@thewashburnagency.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>admin@4inhomecare.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>egough@tandcr.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>info@babiestoboomersvt.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>andrea@nanniesofgreenhills.net</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kara@nanny-network.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>james@henrymcginley.ie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>c.doehnert@doehnert.de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.SuppliedEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>support@m-panels.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Galore_Marketing_Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoked_Suppressed</targetReference>
            </connector>
            <label>Suppressed B2B Relationships</label>
        </rules>
        <rules>
            <name>Suppressed_Auto_Responders</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>NDN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Auto-Reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic Reply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AutoReply</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Thank you for your enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Automatic Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Maternity Leave</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>out of office</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Re: Your enquiry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Auto Response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>[Case #</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>automated response</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Your email has been forwarded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Tak for din henvendelse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>VERRAGIO IS CLOSED</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Merci d’avoir contacté</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Mail delivery failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Merci de nous contacter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Monika , 4 neue Alltagshelfer in Rapperswil und Umgebung</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Vielen Dank für Ihre Anfrage an Betreut</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Blocked Member Appeal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Thank you for contacting Care.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AUTOREPLY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>M360 Support Ticket</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>AW: Vielen Dank für Ihre Nachricht an Care.com.</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Galore_Marketing_Solutions</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>[Care.com case tracking -- do not delete or modify text below]</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Care Benefits</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoked_Suppresed</targetReference>
            </connector>
            <label>Suppressed Auto Responders</label>
        </rules>
        <rules>
            <name>US_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Standard</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AR_US_Operations</targetReference>
            </connector>
            <label>US Platform</label>
        </rules>
        <rules>
            <name>International_Platform</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AR_International</targetReference>
            </connector>
            <label>International Platform</label>
        </rules>
        <rules>
            <name>Invoked_No_Match_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Trigger.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoked_No_Match</targetReference>
            </connector>
            <label>Invoked - No Match Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AR Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AR Case Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseRecord_from_AR_Trigger</name>
        <label>CaseRecord from AR Trigger</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AR_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AR_Status</name>
        <label>AR Status</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>AR_Flow_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord_from_AR_Trigger.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Response_Status__c</field>
            <value>
                <stringValue>Invoked - Sent</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Invoked_No_Match</name>
        <label>Invoked No Match</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord_from_AR_Trigger.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Response_Status__c</field>
            <value>
                <stringValue>Invoked - No Match</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Invoked_Suppresed</name>
        <label>Invoked - Suppresed</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord_from_AR_Trigger.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Response_Status__c</field>
            <value>
                <stringValue>Invoked - Suppressed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Invoked_Suppressed</name>
        <label>Invoked - Suppressed</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord_from_AR_Trigger.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Response_Status__c</field>
            <value>
                <stringValue>Invoked - Suppressed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseRecord_from_AR_Trigger</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AR_International</name>
        <label>AR International</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <flowName>AR_International_Operations_Flow</flowName>
        <inputAssignments>
            <name>CaseRecordID</name>
            <value>
                <elementReference>CaseRecord_from_AR_Trigger.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>AR_US_Operations</name>
        <label>AR US Operations</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <flowName>AR_US_Operations_Flow</flowName>
        <inputAssignments>
            <name>GetCaseRecordID</name>
            <value>
                <elementReference>CaseRecord_from_AR_Trigger.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
