care/force-app/main/default/flows/AR_for_MC_closed_Case_Non_Social_media.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The AR_for_MC_closed_Case_Non_Social_media-4 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke AR_for_MC_closed_Case_Non_Social_media-4, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mohammed.ashwaq@care.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The AR_for_MC_closed_Case_Non_Social_media-4 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke AR_for_MC_closed_Case_Non_Social_media-4, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>mohammed.ashwaq@care.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Member_Care_EN</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Member Care EN</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.Member_Care_EN</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_EN</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Member_Care_FR</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Member Care FR</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.Member_Care_FR</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_FR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Member_Care_SP</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Member Care SP</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.Member_Care_SP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_SP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>Member_Care_GE</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Member Care GE</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.Member_Care_GE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_GE</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Member Care EN Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Member Care FR Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Member Care SP Email</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Member Care GE Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
   AND(
       OR(
	   [Case].RecordType.DeveloperName  = &apos;Standard&apos;,
       [Case].RecordType.DeveloperName  = &apos;Call_Center&apos;,
       [Case].RecordType.DeveloperName  = &apos;International_Call_Center&apos; ),
       OR(
	      ISPICKVAL([Case].Member_Language__c ,&apos;Dutch&apos;),
	      ISPICKVAL([Case].Member_Language__c ,&apos;English&apos;), 
	      ISPICKVAL([Case].Member_Language__c ,&apos;Italian&apos;),
	      ISPICKVAL([Case].Member_Language__c ,&apos;Danish&apos;),
	      ISPICKVAL([Case].Member_Language__c,&apos;Swedish&apos;),
	      ISPICKVAL([Case].Member_Language__c ,&apos;Norwegian&apos;),
          ISPICKVAL([Case].Member_Language__c ,&apos;&apos;)),
	   
	   [Case].IsClosed = TRUE
	),
    AND(
		[Case].MC_Email__c = True,
		[Case].IsClosed = TRUE,
		OR(
	      ISPICKVAL([Case].Member_Language__c ,&apos;Dutch&apos;),
	      ISPICKVAL([Case].Member_Language__c ,&apos;English&apos;), 
	      ISPICKVAL([Case].Member_Language__c ,&apos;Italian&apos;),
	      ISPICKVAL([Case].Member_Language__c ,&apos;Danish&apos;),
	      ISPICKVAL([Case].Member_Language__c,&apos;Swedish&apos;),
	      ISPICKVAL([Case].Member_Language__c ,&apos;Norwegian&apos;),
              ISPICKVAL([Case].Member_Language__c ,&apos;&apos;))
		)
)	</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>OR(
   AND(
       OR(
	   {!SObject.RecordType.DeveloperName}  = &apos;Standard&apos;,
       {!SObject.RecordType.DeveloperName}  = &apos;Call_Center&apos;,
       {!SObject.RecordType.DeveloperName}  = &apos;International_Call_Center&apos; ),
       OR(
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;Dutch&apos;),
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;English&apos;), 
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;Italian&apos;),
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;Danish&apos;),
	      ISPICKVAL({!SObject.Member_Language__c},&apos;Swedish&apos;),
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;Norwegian&apos;),
          ISPICKVAL({!SObject.Member_Language__c} ,&apos;&apos;)),
	   
	   {!SObject.IsClosed} = TRUE
	),
    AND(
		{!SObject.MC_Email__c} = True,
		{!SObject.IsClosed} = TRUE,
		OR(
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;Dutch&apos;),
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;English&apos;), 
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;Italian&apos;),
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;Danish&apos;),
	      ISPICKVAL({!SObject.Member_Language__c},&apos;Swedish&apos;),
	      ISPICKVAL({!SObject.Member_Language__c} ,&apos;Norwegian&apos;),
              ISPICKVAL({!SObject.Member_Language__c} ,&apos;&apos;))
		)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
   AND(
       OR(
	   [Case].RecordType.DeveloperName  = &apos;Standard&apos;,
       [Case].RecordType.DeveloperName  = &apos;Call_Center&apos;,
       [Case].RecordType.DeveloperName  = &apos;International_Call_Center&apos;),   
       ISPICKVAL([Case].Member_Language__c ,&apos;French&apos;),
	   [Case].IsClosed = TRUE
	   ),
    AND(
		[Case].MC_Email__c = True,
		[Case].IsClosed = TRUE,
		 ISPICKVAL([Case].Member_Language__c ,&apos;French&apos;)
		)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>OR(
   AND(
       OR(
	   {!SObject.RecordType.DeveloperName}  = &apos;Standard&apos;,
       {!SObject.RecordType.DeveloperName}  = &apos;Call_Center&apos;,
       {!SObject.RecordType.DeveloperName}  = &apos;International_Call_Center&apos;),   
       ISPICKVAL({!SObject.Member_Language__c} ,&apos;French&apos;),
	   {!SObject.IsClosed} = TRUE
	   ),
    AND(
		{!SObject.MC_Email__c} = True,
		{!SObject.IsClosed} = TRUE,
		 ISPICKVAL({!SObject.Member_Language__c} ,&apos;French&apos;)
		)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
   AND(
       OR(
	   [Case].RecordType.DeveloperName  = &apos;Standard&apos;,
       [Case].RecordType.DeveloperName  = &apos;Call_Center&apos;,
       [Case].RecordType.DeveloperName  = &apos;International_Call_Center&apos;), 
   
       ISPICKVAL([Case].Member_Language__c ,&apos;Spanish&apos;),
		
		[Case].IsClosed = TRUE),
    AND(
		[Case].MC_Email__c = True,
		[Case].IsClosed = TRUE,
		ISPICKVAL([Case].Member_Language__c ,&apos;Spanish&apos;)
		)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>OR(
   AND(
       OR(
	   {!SObject.RecordType.DeveloperName}  = &apos;Standard&apos;,
       {!SObject.RecordType.DeveloperName}  = &apos;Call_Center&apos;,
       {!SObject.RecordType.DeveloperName}  = &apos;International_Call_Center&apos;), 
   
       ISPICKVAL({!SObject.Member_Language__c} ,&apos;Spanish&apos;),
		
		{!SObject.IsClosed} = TRUE),
    AND(
		{!SObject.MC_Email__c} = True,
		{!SObject.IsClosed} = TRUE,
		ISPICKVAL({!SObject.Member_Language__c} ,&apos;Spanish&apos;)
		)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(
     AND( 
	    OR(
	          [Case].RecordType.DeveloperName  = &apos;Standard&apos;,
                  [Case].RecordType.DeveloperName  = &apos;Call_Center&apos;,
                  [Case].RecordType.DeveloperName  = &apos;International_Call_Center&apos;), 

               ISPICKVAL([Case].Member_Language__c ,&apos;German&apos;),
	      [Case].IsClosed = TRUE),
    AND(
		[Case].MC_Email__c = True,
		[Case].IsClosed = TRUE,
		ISPICKVAL([Case].Member_Language__c ,&apos;German&apos;)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>OR(
     AND( 
	    OR(
	          {!SObject.RecordType.DeveloperName}  = &apos;Standard&apos;,
                  {!SObject.RecordType.DeveloperName}  = &apos;Call_Center&apos;,
                  {!SObject.RecordType.DeveloperName}  = &apos;International_Call_Center&apos;), 

               ISPICKVAL({!SObject.Member_Language__c} ,&apos;German&apos;),
	      {!SObject.IsClosed} = TRUE),
    AND(
		{!SObject.MC_Email__c} = True,
		{!SObject.IsClosed} = TRUE,
		ISPICKVAL({!SObject.Member_Language__c} ,&apos;German&apos;)
	)
)</expression>
    </formulas>
    <interviewLabel>AR_for_MC_closed_Case_Non_Social_media-4_InterviewLabel</interviewLabel>
    <label>AR for MC closed Case (Non Social media)</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>SObject</outputReference>
        <queriedFields>MC_Email__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>IsClosed</queriedFields>
        <queriedFields>Member_Language__c</queriedFields>
    </recordLookups>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
