care/force-app/main/default/flows/AR_International_Operations_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AR_IBUC_Ireland</name>
        <label>AR_IBUC_Ireland</label>
        <locationX>11138</locationX>
        <locationY>350</locationY>
        <actionName>Case.AR_IBUC_Ireland</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AR_IBUC_Ireland</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AR_IBUC_Ireland_Google</name>
        <label>AR_IBUC_Ireland_Google</label>
        <locationX>10610</locationX>
        <locationY>350</locationY>
        <actionName>Case.AR_IBUC_Ireland_Google</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AR_IBUC_Ireland_Google</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AR_IBUC_UK</name>
        <label>AR_IBUC_UK</label>
        <locationX>10874</locationX>
        <locationY>350</locationY>
        <actionName>Case.AR_IBUC_UK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AR_IBUC_UK</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AR_IBUC_UK_Google</name>
        <label>AR_IBUC_UK_Google</label>
        <locationX>10346</locationX>
        <locationY>350</locationY>
        <actionName>Case.AR_IBUC_UK_Google</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AR_IBUC_UK_Google</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AT_GermanINTL</name>
        <label>AT_GermanINTL</label>
        <locationX>7970</locationX>
        <locationY>350</locationY>
        <actionName>Case.AT_German</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AT_German</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AU_EnglishINTL</name>
        <label>AU_EnglishINTL</label>
        <locationX>6650</locationX>
        <locationY>350</locationY>
        <actionName>Case.AU_English</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.AU_English</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Austria_Closed_Case_Alert</name>
        <label>Austria_Closed_Case_Alert</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>Case.Austria_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Austria_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BE_DutchINTL</name>
        <label>BE_DutchINTL</label>
        <locationX>8498</locationX>
        <locationY>350</locationY>
        <actionName>Case.BE_Dutch</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BE_Dutch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CA_EnglishINTL</name>
        <label>CA_EnglishINTL</label>
        <locationX>6122</locationX>
        <locationY>350</locationY>
        <actionName>Case.CA_English</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CA_English</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CA_FrenchINTL</name>
        <label>CA_FrenchINTL</label>
        <locationX>8762</locationX>
        <locationY>350</locationY>
        <actionName>Case.CA_French</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CA_French</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CatchAll</name>
        <label>CatchAll</label>
        <locationX>11402</locationX>
        <locationY>350</locationY>
        <actionName>Case.Email2Case_AutoResponse_Care_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email2Case_AutoResponse_Care_com</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CH_GermanINTL</name>
        <label>CH_GermanINTL</label>
        <locationX>7706</locationX>
        <locationY>350</locationY>
        <actionName>Case.CH_German</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CH_German</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Dannish_Closed_Case_Alert</name>
        <label>Dannish_Closed_Case_Alert</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <actionName>Case.Dannish_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dannish_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DE_GermanINTL</name>
        <label>DE_GermanINTL</label>
        <locationX>7442</locationX>
        <locationY>350</locationY>
        <actionName>Case.DE_German</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DE_German</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DK_DanishINTL</name>
        <label>DK_DanishINTL</label>
        <locationX>9026</locationX>
        <locationY>350</locationY>
        <actionName>Case.DK_Danish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DK_Danish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Dutch_Closed_Case_Alert</name>
        <label>Dutch_Closed_Case_Alert</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <actionName>Case.Dutch_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Dutch_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>English_Closed_Case_Alert</name>
        <label>English_Closed_Case_Alert</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <actionName>Case.English_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.English_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>English_Imprint_Email</name>
        <label>English Imprint Email</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>Case.International_Imprint_English</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.International_Imprint_English</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ES_SpanishINTL</name>
        <label>ES_SpanishINTL</label>
        <locationX>7178</locationX>
        <locationY>350</locationY>
        <actionName>Case.ES_Spanish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ES_Spanish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FI_FinnishINTL</name>
        <label>FI_FinnishINTL</label>
        <locationX>9290</locationX>
        <locationY>350</locationY>
        <actionName>Case.FI_Finnish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FI_Finnish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Finnish_Closed_Case_Alert</name>
        <label>Finnish_Closed_Case_Alert</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <actionName>Case.Finnish_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Finnish_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FR_FrenchINTL</name>
        <label>FR_FrenchINTL</label>
        <locationX>5330</locationX>
        <locationY>350</locationY>
        <actionName>Case.FR_French</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FR_French</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FRB_French_BelgiumINTL</name>
        <label>FRB_French_BelgiumINTL</label>
        <locationX>10082</locationX>
        <locationY>350</locationY>
        <actionName>Case.FRB_French_Belgium</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FRB_French_Belgium</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>French_Closed_Case_Alert</name>
        <label>French_Closed_Case_Alert</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <actionName>Case.French_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.French_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Germany_Closed_Case_Alert</name>
        <label>Germany_Closed_Case_Alert</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <actionName>Case.Germany_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Germany_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IE_EnglishINTL</name>
        <label>IE_EnglishINTL</label>
        <locationX>6386</locationX>
        <locationY>350</locationY>
        <actionName>Case.IE_English</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.IE_English</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IE_GoogleP</name>
        <label>IE_GoogleP</label>
        <locationX>4802</locationX>
        <locationY>350</locationY>
        <actionName>Case.IE_Google</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.IE_Google</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IE_International_BUC</name>
        <label>IE_International_BUC</label>
        <locationX>5594</locationX>
        <locationY>350</locationY>
        <actionName>Case.IE_International_BUC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.IE_International_BUC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Imprint_Austria_Email</name>
        <label>Imprint Austria Email</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Case.International_Imprint_Austria</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.International_Imprint_Austria</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Imprint_French_Email</name>
        <label>Imprint French Email</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>Case.International_Imprint_French</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.International_Imprint_French</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Imprint_Spain_Email</name>
        <label>Imprint Spain Email</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <actionName>Case.International_Imprint_Spain</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.International_Imprint_Spain</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>International_Imprint_Germany</name>
        <label>International_Imprint_Germany</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <actionName>Case.International_Imprint_Germany</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.International_Imprint_Germany</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>International_Imprint_Switzerland</name>
        <label>International_Imprint_Switzerland</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>Case.International_Imprint_Switzerland</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.International_Imprint_Switzerland</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NL_DutchINTL</name>
        <label>NL_DutchINTL</label>
        <locationX>8234</locationX>
        <locationY>350</locationY>
        <actionName>Case.NL_Dutch</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.NL_Dutch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NO_NorwegianINTL</name>
        <label>NO_NorwegianINTL</label>
        <locationX>9818</locationX>
        <locationY>350</locationY>
        <actionName>Case.NO_Norwegian</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.NO_Norwegian</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Norweign_Closed_Case_Alert</name>
        <label>Norweign_Closed_Case_Alert</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <actionName>Case.Norweign_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Norweign_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NZ_EnglishINTL</name>
        <label>NZ_EnglishINTL</label>
        <locationX>6914</locationX>
        <locationY>350</locationY>
        <actionName>Case.NZ_English</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.NZ_English</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SE_SwedishINTL</name>
        <label>SE_SwedishINTL</label>
        <locationX>9554</locationX>
        <locationY>350</locationY>
        <actionName>Case.SE_Swedish</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SE_Swedish</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Spanish_Closed_Case_Alert</name>
        <label>Spanish_Closed_Case_Alert</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <actionName>Case.Spanish_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Spanish_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Swedish_Closed_Case_Alert</name>
        <label>Swedish_Closed_Case_Alert</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <actionName>Case.Swedish_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Swedish_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Switzerland_Closed_Case_Alert</name>
        <label>Switzerland_Closed_Case_Alert</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <actionName>Case.Switzerland_Closed_Case_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Switzerland_Closed_Case_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_EnglishINTL</name>
        <label>UK_EnglishINTL</label>
        <locationX>5858</locationX>
        <locationY>350</locationY>
        <actionName>Case.UK_English</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UK_English</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_GoogleP</name>
        <label>UK_GoogleP</label>
        <locationX>4538</locationX>
        <locationY>350</locationY>
        <actionName>Case.UK_Google</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UK_Google</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_International_BUC</name>
        <label>UK_International_BUC</label>
        <locationX>5066</locationX>
        <locationY>350</locationY>
        <actionName>Case.UK_International_BUC</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.UK_International_BUC</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>AR_International_Operations</name>
        <label>AR International Operations</label>
        <locationX>5858</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Invoked_No_Match</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Intl_Imprint_Austria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - AT - Imprint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imprint_Austria_Email</targetReference>
            </connector>
            <label>Intl Imprint Austria</label>
        </rules>
        <rules>
            <name>Intl_Imprint_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - Imprint</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>English_Imprint_Email</targetReference>
            </connector>
            <label>Intl Imprint English</label>
        </rules>
        <rules>
            <name>Intl_Imprint_French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - FR - Imprint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imprint_French_Email</targetReference>
            </connector>
            <label>Intl Imprint French</label>
        </rules>
        <rules>
            <name>Intl_Imprint_Spain</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - ES - Imprint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Imprint_Spain_Email</targetReference>
            </connector>
            <label>Intl Imprint Spain</label>
        </rules>
        <rules>
            <name>Intl_Imprint_Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - CH - Imprint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>International_Imprint_Switzerland</targetReference>
            </connector>
            <label>Intl Imprint Switzerland</label>
        </rules>
        <rules>
            <name>Intl_Imprint_Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - DE - Imprint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>International_Imprint_Germany</targetReference>
            </connector>
            <label>Intl Imprint Germany</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Austria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - AT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Austria_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Austria</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Dutch</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - BE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dutch_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Dutch</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Dannish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dannish_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Dannish</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_English</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - AU</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - ENCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - IE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - NZ</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>English_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close English</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_French</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - FRCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - FRBE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>French_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close French</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Finnish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finnish_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Finnish</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Germany_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Germany</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Norweign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Norweign_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Norweign</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - CH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switzerland_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Switzerland</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Spanish_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Spanish</label>
        </rules>
        <rules>
            <name>International_Email_Auto_Close_Swedish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Swedish_Closed_Case_Alert</targetReference>
            </connector>
            <label>International-Email Auto Close Swedish</label>
        </rules>
        <rules>
            <name>UK_Google</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Employer_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Type_of_Care__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Personal Network</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_GoogleP</targetReference>
            </connector>
            <label>UK - Google</label>
        </rules>
        <rules>
            <name>IE_Google</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Employer_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Google</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Type_of_Care__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Personal Network</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IE_GoogleP</targetReference>
            </connector>
            <label>IE - Google</label>
        </rules>
        <rules>
            <name>UK_Intl_BUC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Type_of_Care__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Personal Network</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_International_BUC</targetReference>
            </connector>
            <label>UK - Intl BUC</label>
        </rules>
        <rules>
            <name>FR_French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FR_FrenchINTL</targetReference>
            </connector>
            <label>FR - French</label>
        </rules>
        <rules>
            <name>IE_Intl_BUC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - IE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Type_of_Care__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Personal Network</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IE_International_BUC</targetReference>
            </connector>
            <label>IE - Intl BUC</label>
        </rules>
        <rules>
            <name>UK_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_EnglishINTL</targetReference>
            </connector>
            <label>UK - English</label>
        </rules>
        <rules>
            <name>CA_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ca</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_EnglishINTL</targetReference>
            </connector>
            <label>CA - English</label>
        </rules>
        <rules>
            <name>IE_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IE_EnglishINTL</targetReference>
            </connector>
            <label>IE - English</label>
        </rules>
        <rules>
            <name>AU_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>au</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AU_EnglishINTL</targetReference>
            </connector>
            <label>AU - English</label>
        </rules>
        <rules>
            <name>NZ_English</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nz</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NZ_EnglishINTL</targetReference>
            </connector>
            <label>NZ - English</label>
        </rules>
        <rules>
            <name>ES_Spanish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Spanish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ES_SpanishINTL</targetReference>
            </connector>
            <label>ES - Spanish</label>
        </rules>
        <rules>
            <name>DE_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DE_GermanINTL</targetReference>
            </connector>
            <label>DE - German</label>
        </rules>
        <rules>
            <name>CH_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_GermanINTL</targetReference>
            </connector>
            <label>CH - German</label>
        </rules>
        <rules>
            <name>AT_German</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>at</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>German</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AT_GermanINTL</targetReference>
            </connector>
            <label>AT - German</label>
        </rules>
        <rules>
            <name>NL_Dutch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nl</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dutch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NL_DutchINTL</targetReference>
            </connector>
            <label>NL - Dutch</label>
        </rules>
        <rules>
            <name>BE_Dutch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>be</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dutch</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BE_DutchINTL</targetReference>
            </connector>
            <label>BE - Dutch</label>
        </rules>
        <rules>
            <name>CA_French</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ca</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_FrenchINTL</targetReference>
            </connector>
            <label>CA - French</label>
        </rules>
        <rules>
            <name>DK_Danish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>dk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Danish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DK_DanishINTL</targetReference>
            </connector>
            <label>DK - Danish</label>
        </rules>
        <rules>
            <name>FI_Finnish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Finnish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FI_FinnishINTL</targetReference>
            </connector>
            <label>FI - Finnish</label>
        </rules>
        <rules>
            <name>SE_Swedish</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>se</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Swedish</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_SwedishINTL</targetReference>
            </connector>
            <label>SE - Swedish</label>
        </rules>
        <rules>
            <name>NO_Norwegian</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Norwegian</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NO_NorwegianINTL</targetReference>
            </connector>
            <label>NO - Norwegian</label>
        </rules>
        <rules>
            <name>FRB_French_Belgium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fb</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>French</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FRB_French_BelgiumINTL</targetReference>
            </connector>
            <label>FRB - French Belgium</label>
        </rules>
        <rules>
            <name>IBUC_UK_Google</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedCompany</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>google</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.CreatedBy.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SurveyMonkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AR_IBUC_UK_Google</targetReference>
            </connector>
            <label>IBUC UK Google</label>
        </rules>
        <rules>
            <name>IBUC_Ireland_Google</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedCompany</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>google</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.CreatedBy.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SurveyMonkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AR_IBUC_Ireland_Google</targetReference>
            </connector>
            <label>IBUC Ireland Google</label>
        </rules>
        <rules>
            <name>IBUC_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedCompany</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>google</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>uk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.CreatedBy.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SurveyMonkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AR_IBUC_UK</targetReference>
            </connector>
            <label>IBUC UK</label>
        </rules>
        <rules>
            <name>IBUC_Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedCompany</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>google</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.Member_Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ie</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.CreatedBy.FirstName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SurveyMonkey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AR_IBUC_Ireland</targetReference>
            </connector>
            <label>IBUC Ireland</label>
        </rules>
        <rules>
            <name>Catch_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.SuppliedEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_AR_Case_Flow.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_BUC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CatchAll</targetReference>
            </connector>
            <label>Catch All</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AR International Operations Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AR International Operations Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseRecord_AR_Case_Flow</name>
        <label>CaseRecord AR Case Flow</label>
        <locationX>5858</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AR_International_Operations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Invoked_No_Match</name>
        <label>Invoked - No Match</label>
        <locationX>11666</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Response_Status__c</field>
            <value>
                <stringValue>Invoked - No Match</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>5732</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseRecord_AR_Case_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
