care/force-app/main/default/flows/AR_US_Operations_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Business_Development</name>
        <label>Business Development</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <actionName>Case.Business_Development</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Business_Development</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Business_Development_provider</name>
        <label>Business Development (provider)</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <actionName>Case.Business_Development_provider</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Business_Development_provider</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email2Case_AutoResponse_Care_com</name>
        <label>Email2Case AutoResponse-Care.com</label>
        <locationX>7970</locationX>
        <locationY>350</locationY>
        <actionName>Case.Email2Case_AutoResponse_Care_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email2Case_AutoResponse_Care_com</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email2Case_AutoResponse_Care_com_provider</name>
        <label>Email2Case AutoResponse-Care.com (provider)</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <actionName>Case.Email2Case_AutoResponse_Care_com_provider</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email2Case_AutoResponse_Care_com_provider</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email2Case_AutoResponse_Mobile_Help_provider</name>
        <label>Email2Case AutoResponse - Mobile Help (provider)</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>Case.Email2Case_AutoResponse_Mobile_Help_provider</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email2Case_AutoResponse_Mobile_Help_provider</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email2Case_AutoResponse_Recruiting</name>
        <label>Email2Case AutoResponse - Recruiting</label>
        <locationX>7706</locationX>
        <locationY>350</locationY>
        <actionName>Case.Email2Case_AutoResponse_Recruiting</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Email2Case_AutoResponse_Recruiting</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Feedback</name>
        <label>Feedback</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <actionName>Case.Feedback</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Feedback</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Feedback_provider</name>
        <label>Feedback (provider)</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>Case.Feedback_provider</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Feedback_provider</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Fraud</name>
        <label>Fraud</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <actionName>Case.Fraud</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Fraud</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Fraud_provider</name>
        <label>Fraud (provider)</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <actionName>Case.Fraud_provider</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Fraud_provider</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Non_Member_Provider</name>
        <label>Non-Member: Provider</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <actionName>Case.Non_Member_Provider</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Non_Member_Provider</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Non_Member_Seeker</name>
        <label>Non-Member: Seeker</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <actionName>Case.Non_Member_Seeker</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Non_Member_Seeker</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provider_Approval</name>
        <label>Provider: Approval</label>
        <locationX>6914</locationX>
        <locationY>350</locationY>
        <actionName>Case.Provider_Approval</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Provider_Approval</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provider_Background_Checks</name>
        <label>Provider: Background Checks</label>
        <locationX>4802</locationX>
        <locationY>350</locationY>
        <actionName>Case.Provider_Background_Checks</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Provider_Background_Checks</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provider_Billing</name>
        <label>Provider: Billing</label>
        <locationX>5330</locationX>
        <locationY>350</locationY>
        <actionName>Case.Provider_Billing</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Provider_Billing</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provider_Cancel</name>
        <label>Provider: Cancel</label>
        <locationX>5858</locationX>
        <locationY>350</locationY>
        <actionName>Case.Provider_Cancel</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Provider_Cancel</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provider_Company</name>
        <label>Provider: Company</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <actionName>Case.Provider_Company</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Provider_Company</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provider_How_It_Works</name>
        <label>Provider: How It Works</label>
        <locationX>6386</locationX>
        <locationY>350</locationY>
        <actionName>Case.Provider_How_it_Works</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Provider_How_it_Works</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Provider_Website_Help</name>
        <label>Provider: Website Help</label>
        <locationX>7442</locationX>
        <locationY>350</locationY>
        <actionName>Case.Provider_Website_Help</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Provider_Website_Help</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Seeker_Approval</name>
        <label>Seeker: Approval</label>
        <locationX>6650</locationX>
        <locationY>350</locationY>
        <actionName>Case.Seeker_Approval</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Seeker_Approval</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Seeker_Background_Checks</name>
        <label>Seeker: Background Checks</label>
        <locationX>4538</locationX>
        <locationY>350</locationY>
        <actionName>Case.Seeker_Background_Checks</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Seeker_Background_Checks</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Seeker_Billing</name>
        <label>Seeker: Billing</label>
        <locationX>5066</locationX>
        <locationY>350</locationY>
        <actionName>Case.Seeker_Billing</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Seeker_Billing</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Seeker_Cancel</name>
        <label>Seeker: Cancel</label>
        <locationX>5594</locationX>
        <locationY>350</locationY>
        <actionName>Case.Seeker_Cancel</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Seeker_Cancel</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Seeker_Company</name>
        <label>Seeker: Company</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <actionName>Case.Seeker_Company</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Seeker_Company</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Seeker_How_It_Works</name>
        <label>Seeker: How It Works</label>
        <locationX>6122</locationX>
        <locationY>350</locationY>
        <actionName>Case.Seeker_How_It_Works</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Seeker_How_It_Works</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Seeker_Website_Help</name>
        <label>Seeker: Website Help</label>
        <locationX>7178</locationX>
        <locationY>350</locationY>
        <actionName>Case.Seeker_Website_Help</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Seeker_Website_Help</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Technical_Difficulties</name>
        <label>Technical Difficulties</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <actionName>Case.Technical_Difficulties</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Technical_Difficulties</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Technical_Difficulties_provider</name>
        <label>Technical Difficulties (provider)</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <actionName>Case.Technical_Difficulties_provider</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Technical_Difficulties_provider</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_Spanish_Auto_Response</name>
        <label>US-Spanish-Auto Response</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>Case.US_Spanish_Auto_Response</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.US_Spanish_Auto_Response</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>AR_US_Operations_for_standard</name>
        <label>AR US Operations for standard</label>
        <locationX>4274</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Web_Chat_Case_No_Agent_for_Live_Chat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.No_Agent_for_Live_Chat__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Chat_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoked_Suppressed_for_Standard</targetReference>
            </connector>
            <label>Web Chat Case- No Agent for Live Chat</label>
        </rules>
        <rules>
            <name>Chat_Catch_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoked_Suppressed_for_Chat</targetReference>
            </connector>
            <label>Chat Catch-All</label>
        </rules>
        <rules>
            <name>Spanish_Email_Catch_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email - SP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>US_Spanish_Auto_Response</targetReference>
            </connector>
            <label>Spanish Email Catch-All</label>
        </rules>
        <rules>
            <name>Email_Provider_Catch_All</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Question</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email2Case_AutoResponse_Care_com_provider</targetReference>
            </connector>
            <label>Email Provider Catch-All</label>
        </rules>
        <rules>
            <name>Mobile_Provider_Catch_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Mobile Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>16</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email2Case_AutoResponse_Mobile_Help_provider</targetReference>
            </connector>
            <label>Mobile Provider Catch-All</label>
        </rules>
        <rules>
            <name>Web_Provider_Business_Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Business Development</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>15</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Development_provider</targetReference>
            </connector>
            <label>Web Provider - Business Development</label>
        </rules>
        <rules>
            <name>Web_Provider_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Feedback/Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback_provider</targetReference>
            </connector>
            <label>Web Provider - Feedback</label>
        </rules>
        <rules>
            <name>Web_Provider_Fraud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Safety/Fraud</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>11</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fraud_provider</targetReference>
            </connector>
            <label>Web Provider - Fraud</label>
        </rules>
        <rules>
            <name>Web_Provider_Technical_Difficulties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Technical Difficulties</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technical_Difficulties_provider</targetReference>
            </connector>
            <label>Web Provider - Technical Difficulties</label>
        </rules>
        <rules>
            <name>Web_Technical_Difficulties</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Technical Difficulties</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Technical_Difficulties</targetReference>
            </connector>
            <label>Web - Technical Difficulties</label>
        </rules>
        <rules>
            <name>Web_Business_Development</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Business Development</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Development</targetReference>
            </connector>
            <label>Web - Business Development</label>
        </rules>
        <rules>
            <name>Web_Seeker_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seeker</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seeker_Company</targetReference>
            </connector>
            <label>Web Seeker - Company</label>
        </rules>
        <rules>
            <name>Web_Provider_Company</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Member_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Provider</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Company</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Company</targetReference>
            </connector>
            <label>Web Provider - Company</label>
        </rules>
        <rules>
            <name>Web_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Feedback/Other</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Feedback</targetReference>
            </connector>
            <label>Web - Feedback</label>
        </rules>
        <rules>
            <name>Web_Fraud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Safety/Fraud</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fraud</targetReference>
            </connector>
            <label>Web - Fraud</label>
        </rules>
        <rules>
            <name>Web_Non_Member_Seeker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Non-member Seeker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Member_Seeker</targetReference>
            </connector>
            <label>Web - Non-Member: Seeker</label>
        </rules>
        <rules>
            <name>Web_Non_Member_Provider</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Non-member Provider</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Member_Provider</targetReference>
            </connector>
            <label>Web - Non-Member: Provider</label>
        </rules>
        <rules>
            <name>Web_Seeker_Background_Checks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Seeker: Background Checks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seeker_Background_Checks</targetReference>
            </connector>
            <label>Web - Seeker: Background Checks</label>
        </rules>
        <rules>
            <name>Web_Provider_Background_Checks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Provider: Background Checks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Background_Checks</targetReference>
            </connector>
            <label>Web - Provider: Background Checks</label>
        </rules>
        <rules>
            <name>Web_Seeker_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Seeker: Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seeker_Billing</targetReference>
            </connector>
            <label>Web - Seeker: Billing</label>
        </rules>
        <rules>
            <name>Web_Provider_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Provider: Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Billing</targetReference>
            </connector>
            <label>Web - Provider: Billing</label>
        </rules>
        <rules>
            <name>Web_Seeker_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Seeker: Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seeker_Cancel</targetReference>
            </connector>
            <label>Web - Seeker: Cancel</label>
        </rules>
        <rules>
            <name>Web_Provider_Cancel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Provider: Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Cancel</targetReference>
            </connector>
            <label>Web - Provider: Cancel</label>
        </rules>
        <rules>
            <name>Web_Seeker_How_It_Works</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Seeker: How it works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seeker_How_It_Works</targetReference>
            </connector>
            <label>Web - Seeker: How It Works</label>
        </rules>
        <rules>
            <name>Web_Provider_How_It_Works</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Provider: How it works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_How_It_Works</targetReference>
            </connector>
            <label>Web - Provider: How It Works</label>
        </rules>
        <rules>
            <name>Web_Seeker_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Seeker: Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seeker_Approval</targetReference>
            </connector>
            <label>Web - Seeker: Approval</label>
        </rules>
        <rules>
            <name>Web_Provider_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Provider: Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Approval</targetReference>
            </connector>
            <label>Web - Provider: Approval</label>
        </rules>
        <rules>
            <name>Web_Seeker_Website_Help</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Seeker: Website Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seeker_Website_Help</targetReference>
            </connector>
            <label>Web - Seeker: Website Help</label>
        </rules>
        <rules>
            <name>Web_Provider_Website_Help</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Q: Provider: Website Help</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Provider_Website_Help</targetReference>
            </connector>
            <label>Web - Provider: Website Help</label>
        </rules>
        <rules>
            <name>Web_Member_Recruiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiting-General</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email2Case_AutoResponse_Recruiting</targetReference>
            </connector>
            <label>Web Member - Recruiting</label>
        </rules>
        <rules>
            <name>Member_Catch_All</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Account.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.ContactEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Owner:Group.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Careteam_care_com_Sunset</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email2Case_AutoResponse_Care_com</targetReference>
            </connector>
            <label>Member Catch-All</label>
        </rules>
        <rules>
            <name>Invoked_No_Match_Standard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseRecord_from_AR_Case_Flow.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoked_No_Match</targetReference>
            </connector>
            <label>Invoked - No Match Standard</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AR US Operations Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AR US Operations Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>CaseRecord_from_AR_Case_Flow</name>
        <label>CaseRecord from AR Case Flow</label>
        <locationX>4274</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AR_US_Operations_for_standard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Invoked_No_Match</name>
        <label>Invoked No Match</label>
        <locationX>8234</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Response_Status__c</field>
            <value>
                <stringValue>Invoked - No Match</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Invoked_Suppressed_for_Chat</name>
        <label>Invoked - Suppressed for Chat</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Response_Status__c</field>
            <value>
                <stringValue>Invoked - Suppressed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Invoked_Suppressed_for_Standard</name>
        <label>Invoked Suppressed for Standard</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecord_from_AR_Case_Flow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Auto_Response_Status__c</field>
            <value>
                <stringValue>Invoked - Suppressed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>4148</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CaseRecord_from_AR_Case_Flow</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
