care/force-app/main/default/flows/Case_Scheduled_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EA_Search_CSAT_1st_Survey</name>
        <label>EA Search CSAT 1st Survey</label>
        <locationX>578</locationX>
        <locationY>492</locationY>
        <actionName>Case.EA_Survey_1st_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.EA_Survey_1st_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>EA_Search_CSAT_2nd_Survey</name>
        <label>EA Search CSAT 2nd Survey</label>
        <locationX>1898</locationX>
        <locationY>492</locationY>
        <actionName>Case.EA_Survey_2nd_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.EA_Survey_2nd_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>LifeCare_CSAT1st_Survey</name>
        <label>LifeCare CSAT1st Survey</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>Case.LifeCare_CSAT_Survey_Email_for_Closed_Case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LifeCare_CSAT_Survey_Email_for_Closed_Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>LifeCare_CSAT_2nd_Survey</name>
        <label>LifeCare CSAT 2nd Survey</label>
        <locationX>1370</locationX>
        <locationY>492</locationY>
        <actionName>Case.LifeCare_CSAT_Survey_2nd_Email_for_Closed_Case</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LifeCare_CSAT_Survey_2nd_Email_for_Closed_Case</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>LifeCare_LeaveCoach_2nd_Survey</name>
        <label>LifeCare-LeaveCoach 2nd Survey</label>
        <locationX>1634</locationX>
        <locationY>492</locationY>
        <actionName>Case.LifeCare_LEAVECOACH_2nd_Survey</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LifeCare_LEAVECOACH_2nd_Survey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>LifeCare_LEAVECOACH_CSAT_1st_Survey</name>
        <label>LifeCare-LEAVECOACH CSAT 1st Survey</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>Case.LifeCare_LEAVECOACH_1st_Survey</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LifeCare_LEAVECOACH_1st_Survey</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sr_Care_CSAT_1st_Survey</name>
        <label>Sr.Care CSAT 1st Survey</label>
        <locationX>842</locationX>
        <locationY>492</locationY>
        <actionName>Case.Sr_Care_Planning_1st_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Sr_Care_Planning_1st_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Sr_Care_CSAT_2nd_Survey</name>
        <label>Sr.Care CSAT 2nd Survey</label>
        <locationX>2162</locationX>
        <locationY>492</locationY>
        <actionName>Case.Sr_Care_Planning_2nd_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Sr_Care_Planning_2nd_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>CSAT_Survey_for_LifeCare_Closed_Case_Follow_up_Email</name>
        <label>CSAT Survey for LifeCare Closed Case Follow-up Email</label>
        <locationX>1898</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LifeCare_Follow_up_Survey</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LifeCare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Life_Care_Survey_Sent_Date_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIFECARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAREATWORK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Survey_Response_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LifeCare_Survey_Sent_Date2</targetReference>
            </connector>
            <label>LifeCare Follow-up Survey</label>
        </rules>
        <rules>
            <name>LifeCare_LeaveCoach_Follow_up_Survey</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LifeCare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Life_Care_Survey_Sent_Date_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LEAVECOACH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leave Coordination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Survey_Response_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LifeCare_LeaveCoach_Survey_Sent_Date2</targetReference>
            </connector>
            <label>LifeCare - LeaveCoach Follow-up Survey</label>
        </rules>
        <rules>
            <name>EA_Search_Follow_up_Survey</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 16) AND (7 OR 8 OR 9 OR 10) AND 11 AND 12 AND 13 AND 14 AND 15</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Child_Care_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Personal_Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Pet_Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Senior_Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Tutor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee doesnt have Benefit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Survey_Response_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Life_Care_Survey_Sent_Date_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Child_Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Survey_Sent_Date2</targetReference>
            </connector>
            <label>EA Search Follow-up Survey</label>
        </rules>
        <rules>
            <name>Sr_Care_Follow_up_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senior_Care_Consult</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Life_Care_Survey_Sent_Date_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sr_Care_Survey_Sent_Date2</targetReference>
            </connector>
            <label>Sr.Care Follow-up Survey</label>
        </rules>
    </decisions>
    <decisions>
        <name>CSAT_Survey_sent_for_Closed_Cases</name>
        <label>1st CSAT Survey sent for Closed Cases</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LifeCare_1st_Survey_for_Closed_Cases</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LifeCare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAREATWORK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LIFECARE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Help Desk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Order Pubs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quick_Code_Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BCM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quick_Code_Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UNF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Life_Care_Survey_Sent_Date_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LifeCare_Survey_Sent_Date1</targetReference>
            </connector>
            <label>LifeCare - 1st Survey for Closed Cases</label>
        </rules>
        <rules>
            <name>LifeCare_LeaveCoach_Cases_1st_Survey</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7 AND 8 AND 9 AND 10 AND 11</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LifeCare</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LEAVECOACH</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leave Coordination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Help Desk</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Order Pubs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quick_Code_Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>BCM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quick_Code_Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>UNF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Life_Care_Survey_Sent_Date_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LeaveCoach_LifeCare_Survey_Sent_Date1</targetReference>
            </connector>
            <label>LifeCare - LeaveCoach Cases 1st Survey</label>
        </rules>
        <rules>
            <name>EASearch_1st_Survey_for_Closed_Cases</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 16) AND (7 OR 8 OR 9 OR 10) AND 11 AND 12 AND 13 AND 14 AND 15</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Child_Care_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Housekeeping</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Personal_Assistant</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Pet_Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Senior_Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Tutor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Inquiry Only</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Employee doesnt have Benefit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Completed_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Spam</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Last_Survey_Response_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Life_Care_Survey_Sent_Date_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AS_Child_Care</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EA_Survey_SentDate1</targetReference>
            </connector>
            <label>EASearch - 1st Survey for Closed Cases</label>
        </rules>
        <rules>
            <name>Sr_Care_1st_Survey_Closed_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senior_Care_Consult</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_Not_Survey__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Life_Care_Survey_Sent_Date_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sr_Care_Survey_SentDate1</targetReference>
            </connector>
            <label>Sr.Care - 1st Survey Closed Cases</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Case - Scheduled Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - Scheduled Actions</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>EA_Survey_Sent_Date2</name>
        <label>EA Survey Sent Date2</label>
        <locationX>1898</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>EA_Search_CSAT_2nd_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Life_Care_Survey_Sent_Date_2__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>EA_Survey_SentDate1</name>
        <label>EA Survey SentDate1</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>EA_Search_CSAT_1st_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Life_Care_Survey_Sent_Date_1__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LeaveCoach_LifeCare_Survey_Sent_Date1</name>
        <label>LeaveCoach-LifeCare Survey Sent Date1</label>
        <locationX>314</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>LifeCare_LEAVECOACH_CSAT_1st_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Life_Care_Survey_Sent_Date_1__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LifeCare_LeaveCoach_Survey_Sent_Date2</name>
        <label>LifeCare - LeaveCoach Survey Sent Date2</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>LifeCare_LeaveCoach_2nd_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Life_Care_Survey_Sent_Date_2__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LifeCare_Survey_Sent_Date1</name>
        <label>LifeCare Survey Sent Date1</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>LifeCare_CSAT1st_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Life_Care_Survey_Sent_Date_1__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>LifeCare_Survey_Sent_Date2</name>
        <label>LifeCare Survey Sent Date2</label>
        <locationX>1370</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>LifeCare_CSAT_2nd_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Life_Care_Survey_Sent_Date_2__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Sr_Care_Survey_Sent_Date2</name>
        <label>Sr.Care Survey Sent Date2</label>
        <locationX>2162</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Sr_Care_CSAT_2nd_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Life_Care_Survey_Sent_Date_2__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Sr_Care_Survey_SentDate1</name>
        <label>Sr.Care Survey SentDate1</label>
        <locationX>842</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Sr_Care_CSAT_1st_Survey</targetReference>
        </connector>
        <inputAssignments>
            <field>Life_Care_Survey_Sent_Date_1__c</field>
            <value>
                <elementReference>TodaysDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>CSAT_Survey_for_LifeCare_Closed_Cases</name>
            <connector>
                <targetReference>CSAT_Survey_sent_for_Closed_Cases</targetReference>
            </connector>
            <label>1st CSAT Survey for Closed Cases</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>ClosedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Follow_Up_CSAT_Survey_for_Closed_Cases</name>
            <connector>
                <targetReference>CSAT_Survey_for_LifeCare_Closed_Case_Follow_up_Email</targetReference>
            </connector>
            <label>Follow-Up CSAT Survey for Closed Cases</label>
            <offsetNumber>2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Life_Care_Survey_Sent_Date_1__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
