care/force-app/main/default/flows/Case_Send_Email_New_Client_Welcome_Email_Child_Care.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Case</name>
        <label>Case</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.New_Client_Welcome_Email_for_Child_Care_Only</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.New_Client_Welcome_Email_for_Child_Care_Only</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Decision</name>
        <label>Decision</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_New_And_Record_Type_is_AS_Child_Care</name>
            <conditionLogic>(1 AND 2 AND 4 AND 5) OR (1 AND 3 AND 4 AND 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>01270000000HqKTAA0</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cloned_Case__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case</targetReference>
            </connector>
            <label>Record Type is AS - Child Care</label>
        </rules>
    </decisions>
    <interviewLabel>Case-Send Email-New Client Welcome Email Child Care {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case-Send Email-New Client Welcome Email Child Care</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0055Y00000HePiP</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
