care/force-app/main/default/flows/Client_Group_Link_to_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Add_Member_to_List</name>
        <label>Add Member to List</label>
        <locationX>138</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>MemberList</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>CurrentMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Business_Account_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Member_to_List2</name>
        <label>Add Member to List</label>
        <locationX>402</locationX>
        <locationY>1631</locationY>
        <assignmentItems>
            <assignToReference>MemberList</assignToReference>
            <operator>AddAtStart</operator>
            <value>
                <elementReference>CurrentMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Person_Account_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CurrentMember</name>
        <label>Assign CurrentMember</label>
        <locationX>138</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>CurrentMember.Client_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMember.Member_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Account_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_to_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CurrentMember2</name>
        <label>Assign CurrentMember</label>
        <locationX>402</locationX>
        <locationY>1511</locationY>
        <assignmentItems>
            <assignToReference>CurrentMember.Client_Group__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CurrentMember.Member_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_Account_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Member_to_List2</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Business_Accounts_Found</name>
        <label>Business Accounts Found?</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Get_Employer_Program_Code</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BizAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Business_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Business_Account_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Memberships_Found</name>
        <label>Existing Memberships Found?</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_Matching_Business_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Memberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Client_Group_Memberships</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Memberships_to_Create</name>
        <label>Memberships to Create?</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_CreateMemberships</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemberList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Client_Group_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_or_Key_Field_Updated</name>
        <label>New or Key Field Updated?</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RunFlow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Group_Corporation_Code__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Client_Group_Memberships</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Client Group - Link to Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Client Group - Link to Account</label>
    <loops>
        <name>Business_Account_Loop</name>
        <label>Business Account Loop</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_Matching_Business_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CurrentMember</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Memberships_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Person_Account_Loop</name>
        <label>Person Account Loop</label>
        <locationX>314</locationX>
        <locationY>1391</locationY>
        <collectionReference>Get_Matching_Person_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CurrentMember2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Memberships_to_Create</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Client_Group_Memberships</name>
        <label>Create Client Group Memberships</label>
        <locationX>50</locationX>
        <locationY>2063</locationY>
        <inputReference>MemberList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Memberships</name>
        <label>Delete Existing Memberships</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Get_Matching_Business_Accounts</targetReference>
        </connector>
        <inputReference>Get_Existing_Client_Group_Memberships</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Employer_Program_Code</name>
        <label>Get Employer Program Code</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Matching_Person_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Corp_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Group_Corporation_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Code_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Client_Group_Memberships</name>
        <label>Get Existing Client Group Memberships</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Memberships_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Client_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Client_Group_Membership__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Business_Accounts</name>
        <label>Get Matching Business Accounts</label>
        <locationX>182</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Business_Accounts_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corportate_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Group_Corporation_Code__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Person_Accounts</name>
        <label>Get Matching Person Accounts</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Person_Account_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employer_Program__pc</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Employer_Program_Code.Employer_Program__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_or_Key_Field_Updated</targetReference>
        </connector>
        <object>Group__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CurrentMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Group_Membership__c</objectType>
    </variables>
    <variables>
        <name>MemberList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Client_Group_Membership__c</objectType>
    </variables>
</Flow>
