care/force-app/main/default/flows/Clone_IBUC_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Clone IBUC Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone IBUC Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CloneCase</name>
        <label>CloneCase</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>newCaseId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Clone_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>originalCaseId.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>originalCaseId.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Copay_Amount__c</field>
            <value>
                <elementReference>originalCaseId.Copay_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Copay_Paid__c</field>
            <value>
                <elementReference>originalCaseId.Copay_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency_Personal_Network__c</field>
            <value>
                <elementReference>originalCaseId.Currency_Personal_Network__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Describe_your_family_s_medical_needs__c</field>
            <value>
                <elementReference>originalCaseId.Describe_your_family_s_medical_needs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>originalCaseId.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_Child_Have_a_Fever__c</field>
            <value>
                <elementReference>originalCaseId.Does_Child_Have_a_Fever__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_client_have_pets__c</field>
            <value>
                <elementReference>originalCaseId.Does_client_have_pets__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Does_the_Caregiver_Have_Sole_Charge__c</field>
            <value>
                <elementReference>originalCaseId.Does_the_Caregiver_Have_Sole_Charge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drivers_License_Vehicle_Required__c</field>
            <value>
                <elementReference>originalCaseId.Drivers_License_Vehicle_Required__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Driving_Requirements_Details__c</field>
            <value>
                <elementReference>originalCaseId.Driving_Requirements_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Email__c</field>
            <value>
                <elementReference>originalCaseId.Emergency_Contact_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Mobile__c</field>
            <value>
                <elementReference>originalCaseId.Emergency_Contact_Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Contact_Name__c</field>
            <value>
                <elementReference>originalCaseId.Emergency_Contact_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employer_Program__c</field>
            <value>
                <elementReference>originalCaseId.Employer_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Time__c</field>
            <value>
                <elementReference>originalCaseId.End_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Follow_Up_Date__c</field>
            <value>
                <elementReference>originalCaseId.Follow_Up_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_So_Is_Parent_Working__c</field>
            <value>
                <elementReference>originalCaseId.If_So_Is_Parent_Working__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Parking_Available__c</field>
            <value>
                <elementReference>originalCaseId.Is_Parking_Available__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Address__c</field>
            <value>
                <elementReference>originalCaseId.Job_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Country__c</field>
            <value>
                <elementReference>originalCaseId.Member_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member_Locale__c</field>
            <value>
                <elementReference>originalCaseId.Member_Locale__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Names_Of_Children__c</field>
            <value>
                <elementReference>originalCaseId.Names_Of_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Children__c</field>
            <value>
                <elementReference>originalCaseId.Number_Of_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>originalCaseId.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>originalCaseId.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PN_submitted__c</field>
            <value>
                <elementReference>originalCaseId.PN_submitted__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Home__c</field>
            <value>
                <elementReference>originalCaseId.Parent_Home__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Permission_to_give_medicine__c</field>
            <value>
                <elementReference>originalCaseId.Permission_to_give_medicine__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pets_specification__c</field>
            <value>
                <elementReference>originalCaseId.Pets_specification__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_start_Date__c</field>
            <value>
                <elementReference>originalCaseId.Preferred_start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Unfulfilled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Care__c</field>
            <value>
                <elementReference>originalCaseId.Reason_for_Care__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_agency_for_PN__c</field>
            <value>
                <elementReference>originalCaseId.Recommended_agency_for_PN__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>originalCaseId.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Children__c</field>
            <value>
                <elementReference>originalCaseId.Relationship_to_Children__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Considerations__c</field>
            <value>
                <elementReference>originalCaseId.Special_Considerations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Needs_care_needed__c</field>
            <value>
                <elementReference>originalCaseId.Special_Needs_care_needed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Time__c</field>
            <value>
                <elementReference>originalCaseId.Start_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>originalCaseId.Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>originalCaseId.Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Summary_of_Recipient_s_Needs__c</field>
            <value>
                <elementReference>originalCaseId.Summary_of_Recipient_s_Needs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedCompany</field>
            <value>
                <elementReference>originalCaseId.SuppliedCompany</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>originalCaseId.SuppliedEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>originalCaseId.SuppliedName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>originalCaseId.SuppliedPhone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Symptoms__c</field>
            <value>
                <elementReference>originalCaseId.Symptoms__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Terms_of_Use_Acknowledgement__c</field>
            <value>
                <elementReference>originalCaseId.Terms_of_Use_Acknowledgement__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Number_of_Days__c</field>
            <value>
                <elementReference>originalCaseId.Total_Number_of_Days__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Care__c</field>
            <value>
                <elementReference>originalCaseId.Type_of_Care__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_First_Name__c</field>
            <value>
                <elementReference>originalCaseId.Web_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Web_Last_Name__c</field>
            <value>
                <elementReference>originalCaseId.Web_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Clone_Confirmation</name>
        <label>Clone Confirmation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Clone_Confirmation_Screen</name>
            <fieldText>&lt;p&gt;The record was successfully cloned.  Click Finish to confirm. &lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://caredotcom.lightning.force.com/lightning/r/Case/{!newCaseId.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Link to new Case record&lt;/a&gt;&lt;/p&gt;&lt;p&gt;https://caredotcom.lightning.force.com/lightning/r/Case/&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!newCaseId.Id}&lt;/span&gt;/view&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Start_Clone</name>
        <label>Start Clone</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CloneCase</targetReference>
        </connector>
        <fields>
            <name>Clone_Record_Start</name>
            <fieldText>&lt;p&gt;Click the Clone button to clone this IBUC case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Clone</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Start_Clone</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>newCaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>originalCaseId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
