care/force-app/main/default/flows/Contact_Update_S2S_Contact_with_AccountId.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Contact_AccountId</name>
        <label>Assign Contact AccountId</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Contact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_S2S_Contact_Information.LocalRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Record_Exists_in_Logan</name>
        <label>Record Exists in Logan?</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Logan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact.Logan_Contact_AccountId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_S2S_Contact_Information</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shared_Record_Data_Found</name>
        <label>Shared Record Data Found?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ConnectionHistory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_S2S_Contact_Information</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_AccountId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Contact - Update S2S Contact with AccountId {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Update S2S Contact with AccountId</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_S2S_Contact_Information</name>
        <label>Get S2S Contact Information</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shared_Record_Data_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartnerRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.Logan_Contact_AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PartnerNetworkRecordConnection</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <inputReference>Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Exists_in_Logan</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
