care/force-app/main/default/flows/Contact_Convert_S2S_Contact_to_Person_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Account_for_Insert</name>
        <label>Assign Account for Insert</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_for_Insert_Update</name>
        <label>Assign Account for Insert/Update</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.PersonMobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PersonAccount.Employer_Program__pc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Employer_Program_by_Corporate_Code.Employer_Program__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Person_Account_Already_Exists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_for_Update</name>
        <label>Assign Account for Update</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>PersonAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Person_Account_by_Email.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Person_Account_Already_Exists</name>
        <label>Person Account Already Exists?</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_Person_Account_RecordType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ExistsAlready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Account_by_Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Account_for_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact - Convert S2S Contact to Person Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Convert S2S Contact to Person Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Account_Record</name>
        <label>Insert Account Record</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <inputReference>PersonAccount</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Employer_Program_by_Corporate_Code</name>
        <label>Get Employer Program by Corporate Code</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_for_Insert_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Corporate_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Corportate_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Corporate_Code__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Code_Mapping__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_by_Email</name>
        <label>Get Person Account by Email</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employer_Program_by_Corporate_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PersonEmail</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Person_Account_RecordType</name>
        <label>Get Person Account RecordType</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Account_for_Insert</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsPersonType</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Person_Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>PersonAccount</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Contact_AccountId</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051O00000DyN69QAF</stringValue>
            </value>
        </filters>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051O00000DyN69QAF</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Update_Contact_AccountId</name>
        <label>Update Contact AccountId</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Get_Person_Account_by_Email</targetReference>
        </connector>
        <flowName>Contact_Update_S2S_Contact_with_AccountId</flowName>
        <inputAssignments>
            <name>Contact</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>PersonAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
