care/force-app/main/default/flows/Create_task_when_Re_Launch_Date_is_changed1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_a_Task</name>
        <label>Create a Task</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>Account.New_Task_c</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Network_Partner_Re_launch_Alert</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Network Re-launch Alert - Please make active in CMS and Back Office</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Priority</name>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <stringValue>00539000005nJnfAAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Account.New_Task_c</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Network_Partner_Re_launch_Alert</name>
        <label>Network Partner Re-launch Alert</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Account.Network_Partner_Re_launch_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Account.Network_Partner_Re_launch_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <description>SFORCE-2848 Modify Vetting Custom Object</description>
    <environments>Default</environments>
    <interviewLabel>Create task when Re Launch Date is changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create task when Re Launch Date is changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_a_Task</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Re_launch_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Re_launch_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
