care/force-app/main/default/flows/International_BUC_CSAT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This Action will send the Email Alert &quot;INTL Care for Business BUC Survey EN&quot;</description>
        <name>Copy_2_of_INTL_Care_for_Business_BUC_Survey_EN</name>
        <label>Copy 2 of INTL Care for Business BUC Survey EN</label>
        <locationX>578</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X39000001gGR2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This action sends the Email Template &quot;INTL Care for Business PN Survey EN&quot;</description>
        <name>Copy_2_of_INTL_Care_for_Business_PN_Survey_EN</name>
        <label>Copy 2 of INTL Care for Business PN Survey EN</label>
        <locationX>1370</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X5Y000003M1EF</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This will sendHye the Email Alert &quot;INTL Care for Business PN Survey DE&quot;</description>
        <name>INTL_C_Actionare_for_Business_PN_Survey_DE</name>
        <label>INTL Care for Business PN Survey DE</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X5Y000003M1EK</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Action Sends the Email template &quot;INTL Care for Business BUC Survey DE&quot;</description>
        <name>INTL_Care_for_Business_BUC_Survey_DE</name>
        <label>INTL Care for Business BUC Survey DE</label>
        <locationX>1898</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue> internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X5Y000003M0z0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Action Sends the Email template &quot;INTL Care for Business BUC Survey DE&quot;</description>
        <name>INTL_Care_for_Business_BUC_Survey_DE_COPY_3</name>
        <label>NTL Care for Business BUC Survey DE</label>
        <locationX>2690</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue> internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X5Y000003M0z0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Action will send the Email Alert &quot;INTL Care for Business BUC Survey EN&quot;</description>
        <name>INTL_Care_for_Business_BUC_Survey_EN</name>
        <label>INTL Care for Business BUC Survey EN</label>
        <locationX>1634</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X39000001gGR2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Action will send the Email Alert &quot;INTL Care for Business BUC Survey EN&quot;</description>
        <name>INTL_Care_for_Business_BUC_Survey_EN_ACTION</name>
        <label>INTL Care for Business BUC Survey EN</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X39000001gGR2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Action will send the Email Alert &quot;INTL Care for Business BUC Survey EN&quot;</description>
        <name>INTL_Care_for_Business_BUC_Survey_EN_COPY_3</name>
        <label>INTL Care for Business BUC Survey EN</label>
        <locationX>2426</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X39000001gGR2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Action will send the Email Alert &quot;INTL Care for Business BUC Survey EN&quot;</description>
        <name>INTL_Care_for_International_ABUC_Survey_EN</name>
        <label>INTL Care for International ABUC Survey EN</label>
        <locationX>2954</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X39000001gGR2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Action will send the Email Alert &quot;INTL Care for Business BUC Survey EN&quot;</description>
        <name>INTL_CBUC_In_Center_Survey_EN</name>
        <label>INTL CBUC In-Center Survey EN</label>
        <locationX>2162</locationX>
        <locationY>600</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X39000001gGR2</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This Action Sends the Email template &quot;INTL Care for Business BUC Survey DE&quot;</description>
        <name>INTLCareforBusinessBUCSurveyDE_Action</name>
        <label>INTL Care for Business BUC Survey DE</label>
        <locationX>314</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue> internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X5Y000003M0z0</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This action sends the Email Template &quot;INTL Care for Business PN Survey EN&quot;</description>
        <name>INTLCareforBusinessPNSurveyEN_Action</name>
        <label>INTL Care for Business PN Survey EN</label>
        <locationX>842</locationX>
        <locationY>708</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Last_CSAT_Sent_Date_on_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>internationalcareforbusiness@care.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Contact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X5Y000003M1EF</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>This will look at the Contact record&apos;s value on the field Last_CSAT_Sent_Date__c.  If it has been longer than 7 days, we can send a survey.  If it hasn&apos;t, we will not send anything.</description>
        <name>Has_it_been_at_least_a_week_since_last_CSAT</name>
        <label>Has it been at least a week since last CSAT?</label>
        <locationX>2640</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>LastCSATGreaterThan7Days</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Last_CSAT_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Type_Decision</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will determine what language the Member speaks - to determine which survey to send him.</description>
        <name>Language_Decision</name>
        <label>Language Decision</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>INTLCareforBusinessBUCSurveyDE_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>English</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INTL_Care_for_Business_BUC_Survey_EN_ACTION</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will determine what language the Member speaks - to determine which survey to send him.</description>
        <name>Language_Decision_Copy</name>
        <label>Language Decision</label>
        <locationX>974</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>INTL_C_Actionare_for_Business_PN_Survey_DE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>English_copy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INTLCareforBusinessPNSurveyEN_Action</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will determine what language the Member speaks - to determine which survey to send him.</description>
        <name>Language_Decision_copy_2</name>
        <label>Language Decision</label>
        <locationX>1766</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>INTL_Care_for_Business_BUC_Survey_DE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>English_copy_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INTL_Care_for_Business_BUC_Survey_EN</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will determine what language the Member speaks - to determine which survey to send him.</description>
        <name>Language_Decision_Copy_3</name>
        <label>Language Decision</label>
        <locationX>2558</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>INTL_Care_for_Business_BUC_Survey_DE_COPY_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>English_copy_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Language__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>English</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>INTL_Care_for_Business_BUC_Survey_EN_COPY_3</targetReference>
            </connector>
            <label>English</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will determine the Member&apos;s Country</description>
        <name>Member_Country_Decision</name>
        <label>Member Country Decision</label>
        <locationX>380</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_INTL_Care_for_Business_BUC_Survey_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>DE_AT_CH</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Decision</targetReference>
            </connector>
            <label>DE, AT, CH</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will determine the Member&apos;s Country</description>
        <name>Member_Country_Decision_Copy</name>
        <label>Member Country Decision</label>
        <locationX>1172</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_INTL_Care_for_Business_PN_Survey_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>DE_AT_CH_copy</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Decision_Copy</targetReference>
            </connector>
            <label>DE, AT, CH</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will determine the Member&apos;s Country</description>
        <name>Member_Country_Decision_copy_2</name>
        <label>Member Country Decision</label>
        <locationX>1964</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>INTL_CBUC_In_Center_Survey_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>DE_AT_CH_copy_2</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Decision_copy_2</targetReference>
            </connector>
            <label>DE, AT, CH</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will determine the Member&apos;s Country</description>
        <name>Member_Country_Decision_copy_3</name>
        <label>Member Country Decision</label>
        <locationX>2756</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>INTL_Care_for_International_ABUC_Survey_EN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>DE_AT_CH_copy_3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Austria</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Member_Country__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Decision_Copy_3</targetReference>
            </connector>
            <label>DE, AT, CH</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will route based on the Case&apos;s Record Type</description>
        <name>Record_Type_Decision</name>
        <label>Record Type Decision</label>
        <locationX>1799</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>International_BUC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0121O000001ZY2YQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Country_Decision</targetReference>
            </connector>
            <label>International BUC</label>
        </rules>
        <rules>
            <name>International_Personal_Network</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125Y0000023sY1QAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Country_Decision_Copy</targetReference>
            </connector>
            <label>International Personal Network</label>
        </rules>
        <rules>
            <name>INTL_CBUC_In_Center</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125Y000002E3vXQAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Country_Decision_copy_2</targetReference>
            </connector>
            <label>INTL CBUC In-Center</label>
        </rules>
        <rules>
            <name>International_ABUC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125Y000002WGRdQAO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Member_Country_Decision_copy_3</targetReference>
            </connector>
            <label>International ABUC</label>
        </rules>
    </decisions>
    <description>When a Case is Closed and the Record Type is either &quot;International BUC&quot; or &quot;International Personal network&quot; - this will send the Member a CSAT survey.</description>
    <environments>Default</environments>
    <formulas>
        <description>This will look at the related Contact record&apos;s field Contact.Last_CSAT_Sent_Date__c and determine if the date is longer than 7 days.</description>
        <name>LastCSATGreaterThan7Days</name>
        <dataType>Boolean</dataType>
        <expression>(TODAY() - {!$Record.Contact.Last_CSAT_Sent_Date__c}) &gt; 7</expression>
    </formulas>
    <interviewLabel>International BUC - CSAT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>International BUC - CSAT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This will update the Contact field &quot;</description>
        <name>Update_Last_CSAT_Sent_Date_on_Contact</name>
        <label>Update Last CSAT Sent Date on Contact</label>
        <locationX>1799</locationX>
        <locationY>1068</locationY>
        <inputAssignments>
            <field>Last_CSAT_Sent_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>1087</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 8 OR 9) AND 5 AND 6 AND 7</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Do_Not_Survey__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121O000001ZY2YQAW</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y0000023sY1QAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Member_Country__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Member_Language__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reason</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Filled</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002E3vXQAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002WGRdQAO</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1_Day_After_End_Date</name>
            <connector>
                <targetReference>Has_it_been_at_least_a_week_since_last_CSAT</targetReference>
            </connector>
            <label>1 Day After End Date</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Preferred_end_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
