care/force-app/main/default/flows/Lifecare_Task_record_Status_to_Completed_when_Unfulfilled.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>Assign status= Completed on Task Record</description>
        <name>Set_Status</name>
        <label>Set Status</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>Related_Task_Records.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_Task_Records.Service_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_Task_Records.Service_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Service_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Related_Task_Records.Program_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Program_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checking Service Type and Quick Code is unfulfilled.</description>
        <name>Service_type_and_Quick_Code</name>
        <label>Service type and Quick Code</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Service_type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Service_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unfulfilled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quick_Code_Case_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Related_Task_Records</targetReference>
            </connector>
            <label>Service type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lifecare Task record Status to Completed when Unfulfilled {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lifecare Task record Status to Completed when Unfulfilled</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get Task records  where subject = Case Intake Activity</description>
        <name>Related_Task_Records</name>
        <label>Related Task Records</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case Intake Activity</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update the task Record on case.</description>
        <name>Update_Task_Record</name>
        <label>Update Task Record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>Related_Task_Records</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Service_type_and_Quick_Code</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002WGuoQAG</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
