care/force-app/main/default/flows/Marketing_Solutions_Closed_Lost_Expired_Opps.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddUpdatedOpportunities</name>
        <label>AddUpdatedOpportunities</label>
        <locationX>138</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>UpdatedOpportunities</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OpportunityLoop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OpportunityLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetClosedLost</name>
        <label>SetClosedLost</label>
        <locationX>138</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>OpportunityLoop.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLoop.Lost_Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Territory Reassignment</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityLoop.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddUpdatedOpportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetOppsUpdatedCount</name>
        <label>SetUpdateOppsCount</label>
        <locationX>50</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>UpdateOppsCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UpdatedOpportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateOpportunities</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckExpiredOpps</name>
        <label>CheckExpiredOpps</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExpiredOpps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OpportunityLoop</targetReference>
            </connector>
            <label>Populated</label>
        </rules>
    </decisions>
    <description>Changed the stage of Marketing Solutions opportunities if today is past the closed date, and reassigns their accounts.</description>
    <environments>Default</environments>
    <interviewLabel>Marketing Solutions Closed Lost Expired Opps {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Solutions Closed Lost Expired Opps</label>
    <loops>
        <description>iterate over each eligible opportunity</description>
        <name>OpportunityLoop</name>
        <label>OpportunityLoop</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <collectionReference>ExpiredOpps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetClosedLost</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SetOppsUpdatedCount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateOpportunities</name>
        <label>UpdateOpportunities</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <inputReference>UpdatedOpportunities</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckExpiredOpps</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExpiredOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedOpportunities</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdateOppsCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
