care/force-app/main/default/flows/Marketing_Solutions_Get_Expired_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>SetExpiredOpps</name>
        <label>SetExpiredOpps</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ExpiredOpps</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetExpiredOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExpiredOppCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetExpiredOpps</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Generates a collection of the opportunities that are expired for use in other flows</description>
    <environments>Default</environments>
    <interviewLabel>Marketing Solutions Get Expired Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Solutions Get Expired Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Collects expired opportunities
IDs
Brad Fosser - 0051O00000DyDtfQAF
Lori Grassano - 0055Y00000HeOARQA3
Johanna O’Connor - 005700000031FtfAAE</description>
        <name>GetExpiredOpps</name>
        <label>GetExpiredOpps</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SetExpiredOpps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y0000023pEUQAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0051O00000DyDtfQAF</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>005700000031FtfAAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>0055Y00000HeOARQA3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>StageName</queriedFields>
        <queriedFields>Lost_Reasons__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CloseDate</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetExpiredOpps</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ExpiredOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpiredOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
