care/force-app/main/default/flows/Marketing_Solutions_Case_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Set_Account_DNC</name>
        <label>Set Account DNC</label>
        <locationX>1326</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.MS_DNC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_MS_Contact_Status</name>
        <label>Set Account MS Contact Status</label>
        <locationX>1590</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.MS_Contact_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.MS_Unqualified_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Lost_Reasons__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the account owner to PPL API User, formerly Richard Poole
Richard Poole Id = 0055Y00000He7h8QAB
PPL API User Id = 0055Y00000He1ylQAB</description>
        <name>Set_Account_Owner_to_PPL_API_User</name>
        <label>Set Account Owner to PPL API User</label>
        <locationX>1854</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0055Y00000He1ylQAB</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Lost_Reason</name>
        <label>Check Lost Reason</label>
        <locationX>1722</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Do_not_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Do not call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_DNC</targetReference>
            </connector>
            <label>Do not call</label>
        </rules>
        <rules>
            <name>Unqualified</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>License</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Out of business</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Period Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCC under 3 years</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate/Child Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Language Barrier</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bad Contact Info</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Safety Issue/Violation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Religious Exemption</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Public School</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Head Start</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non Profit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_MS_Contact_Status</targetReference>
            </connector>
            <label>Unqualified</label>
        </rules>
        <rules>
            <name>Territory_Reassignment</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Territory Reassignment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lost_Reasons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Territory assignment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_Owner_to_PPL_API_User</targetReference>
            </connector>
            <label>Territory Reassignment</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check the new Opportunity Stage and other related variables</description>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>1216</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Vertical_License_Level</targetReference>
            </connector>
            <label>Closed Won Stage</label>
        </rules>
        <rules>
            <name>FCC_Contract_Signed_Pending_Activation_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed-Pending Activation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Composer_Service__r.License_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FCCs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_FCC_Vetting_Case</targetReference>
            </connector>
            <label>FCC Contract Signed-Pending Activation Stage</label>
        </rules>
        <rules>
            <name>Stage_Contract_Signed_Payment_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed-Payment Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Failure_Case</targetReference>
            </connector>
            <label>Contract Signed-Payment Failure Stage</label>
        </rules>
        <rules>
            <name>Stage_Contract_Signed_License_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed-License Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_License_Failure_Case</targetReference>
            </connector>
            <label>Contract Signed-License Failure Stage</label>
        </rules>
        <rules>
            <name>Closed_Lost_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Closed Lost Stage</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Vertical_License_Level</name>
        <label>Check Vertical/License Level</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Create_References_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Recruiting_Solutions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Composer_Service__r.Vertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recruiting Solutions</stringValue>
                </rightValue>
            </conditions>
            <label>Recruiting Solutions</label>
        </rules>
        <rules>
            <name>Camps_Activities</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Composer_Service__r.License_Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Camps &amp; Activities</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Welcome_Case</targetReference>
            </connector>
            <label>Camps &amp; Activities</label>
        </rules>
    </decisions>
    <description>Updates Opportunity Record Types Sales Origination when the Stage changes</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula calculating the Case Type based on the Opportunity Composer Service Vertical</description>
        <name>CaseTypeFormula</name>
        <dataType>String</dataType>
        <expression>CASE({!$Record.Composer_Service__r.Vertical__c}, 
&quot;Childcare Flat Rate&quot;, &quot;Childcare Flat Rate&quot;, 
&quot;Recruiting Solutions&quot;, &quot;Recruiting Solutions&quot;,
&quot;Childcare&quot;, CASE({!$Record.Composer_Service__r.License_Level__c},
&quot;Centers&quot;, &quot;Centers&quot;,
&quot;FCCs&quot;, &quot;FCCs&quot;,
&quot;Camps &amp; Activities&quot;, &quot;Camps &amp; Activities&quot;,
&quot;Marketing Solutions&quot;),
&quot;Marketing Solutions&quot;)</expression>
    </formulas>
    <formulas>
        <name>FCCVettingSubject</name>
        <dataType>String</dataType>
        <expression>&quot;FCC Vetting &quot; + {!$Record.Account.Name}</expression>
    </formulas>
    <interviewLabel>Marketing Solutions Case Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Solutions Case Automation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Case assigned to the safety team for manual vetting of an FCC opportunity.
This node can be deleted after manual vetting is no longer needed.</description>
        <name>Create_FCC_Vetting_Case</name>
        <label>Create FCC Vetting Case</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m70000000GuR9AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Reason__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Sub_Reason__c</field>
            <value>
                <stringValue>License Verification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5Y000006jznsUAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125Y0000023pKSQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>FCCVettingSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>CaseTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_License_Failure_Case</name>
        <label>Create License Failure Case</label>
        <locationX>1062</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m70000000GuR9AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Reason__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Sub_Reason__c</field>
            <value>
                <stringValue>License Failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5Y000006jgNuUAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125Y0000023pKSQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>License Failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>CaseTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Failure_Case</name>
        <label>Create Payment Failure Case</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m70000000GuR9AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Reason__c</field>
            <value>
                <stringValue>Billing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Sub_Reason__c</field>
            <value>
                <stringValue>Payment Failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5Y000006jgNuUAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125Y0000023pKSQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Payment Failure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>CaseTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_References_Case</name>
        <label>Create References Case</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Create_Welcome_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m70000000GuR9AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Reason__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Sub_Reason__c</field>
            <value>
                <stringValue>References</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5Y000006jgNuUAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125Y0000023pKSQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>References</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>CaseTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Welcome_Case</name>
        <label>Create Welcome Case</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessHoursId</field>
            <value>
                <stringValue>01m70000000GuR9AAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Reason__c</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MS_Contact_Sub_Reason__c</field>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Internal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5Y000006jgNuUAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125Y0000023pKSQAY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Welcome Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>CaseTypeFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1722</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Lost_Reason</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Save_Account</name>
        <label>Save Account</label>
        <locationX>1722</locationX>
        <locationY>839</locationY>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <start>
        <locationX>1090</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y0000023pEUQAY</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
