care/force-app/main/default/flows/Marketing_Solutions_Tools.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>CloseExpiredOpps</name>
        <choiceText>Close Expired Opps</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CloseExpiredOpps</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ActionSelected</name>
        <label>ActionSelected</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>NoOptionScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CloseExporedOppsDecision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CloseExpiredOpps</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetExpiredOpps</targetReference>
            </connector>
            <label>CloseExporedOppsDecision</label>
        </rules>
    </decisions>
    <description>A screen flow to execute various sales operations actions</description>
    <environments>Default</environments>
    <interviewLabel>Marketing Solutions Tools {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Marketing Solutions Tools</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>CloseExpiredDoneScreen</name>
        <label>CloseExpiredDoneScreen</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>EntryScreen</targetReference>
        </connector>
        <fields>
            <name>CloseExpiredDoneText</name>
            <fieldText>&lt;p&gt;{!UpdatedOppCount} opportunities updated.&lt;/p&gt;&lt;p&gt;Operation complete!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CloseExpiredOppsScreen</name>
        <label>CloseExpiredOppsScreen</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RunCloseLostExpiredOpps</targetReference>
        </connector>
        <fields>
            <name>CloseExpiredOppsText</name>
            <fieldText>&lt;p&gt;This will close all the Sales Origination opportunities still in the stage &apos;Prospecting&apos; where the Close Date is today or earlier, and those opportunities are not owned by certain users.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ExpiredOppCount} Opportunities will be updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Execute</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>EntryScreen</name>
        <label>EntryScreen</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ActionSelected</targetReference>
        </connector>
        <fields>
            <name>Instructions</name>
            <fieldText>&lt;p&gt;Select the action you want to perform.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Action</name>
            <choiceReferences>CloseExpiredOpps</choiceReferences>
            <choiceReferences>None</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoOptionScreen</name>
        <label>NoOptionScreen</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoOptionText</name>
            <fieldText>&lt;p&gt;No Option Selected&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>EntryScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>GetExpiredOpps</name>
        <label>GetExpiredOpps</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>CloseExpiredOppsScreen</targetReference>
        </connector>
        <flowName>Marketing_Solutions_Get_Expired_Opportunities</flowName>
        <outputAssignments>
            <assignToReference>ExpiredOppCount</assignToReference>
            <name>ExpiredOppCount</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ExpiredOpps</assignToReference>
            <name>ExpiredOpps</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>RunCloseLostExpiredOpps</name>
        <label>RunCloseLostExpiredOpps</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>CloseExpiredDoneScreen</targetReference>
        </connector>
        <flowName>Marketing_Solutions_Closed_Lost_Expired_Opps</flowName>
        <inputAssignments>
            <name>ExpiredOpps</name>
            <value>
                <elementReference>ExpiredOpps</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>UpdatedOppCount</assignToReference>
            <name>UpdateOppsCount</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ExpiredOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpiredOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>UpdatedOppCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
