care/force-app/main/default/flows/MC_CSAT_Alert_based_on_RecordType_Language.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AT_Survey</name>
        <label>AT Survey</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_AT</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AT_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_AT</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>AU_Survey</name>
        <label>AU Survey</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_AU</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AU_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_AU</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BE_Dutch_Survey</name>
        <label>BE - Dutch Survey</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_BE_Dutch</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BE_Dutch_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_BE_Dutch</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>BE_French_Survey</name>
        <label>BE -French Survey</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_BE_French</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>BE_French_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_BE_French</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CA_Survey</name>
        <label>CA Survey</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_CA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CA_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_CA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>CH_Survey</name>
        <label>CH Survey</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_CH</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>CH_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_CH</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DE_Survey</name>
        <label>DE Survey</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_DE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DE_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_DE</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>DK_Survey</name>
        <label>DK Survey</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_DK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>DK_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_DK</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>ES_Survey</name>
        <label>ES Survey</label>
        <locationX>2426</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_ES</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>ES_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_ES</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FI_Survey</name>
        <label>FI Survey</label>
        <locationX>2690</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_FI</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FI_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_FI</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FR_Survey</name>
        <label>FR Survey</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_FR</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FR_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_FR</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>FRCA_Survey</name>
        <label>FRCA Survey</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_FRCA</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FRCA_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_FRCA</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>IE_Survey</name>
        <label>IE Survey</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_IE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>IE_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_IE</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NL_Survey</name>
        <label>NL Survey</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_NL</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NL_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_NL</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NO_Survey</name>
        <label>NO Survey</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_NO</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NO_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_NO</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>NZ_Survey</name>
        <label>NZ Survey</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_NZ</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>NZ_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_NZ</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SE_Survey</name>
        <label>SE Survey</label>
        <locationX>4538</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_SE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>SE_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_SE</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>UK_Survey</name>
        <label>UK Survey</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <actionName>Case.Member_Care_Closed_Case_Survey_UK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>UK_Survey_sent_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Member_Care_Closed_Case_Survey_UK</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>MC_CSAT_Recordtype_language</name>
        <label>MC CSAT Recordtype/language</label>
        <locationX>2426</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DE_CSAT</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de_DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DE_Survey</targetReference>
            </connector>
            <label>DE - CSAT</label>
        </rules>
        <rules>
            <name>AT_CSAT</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de_AT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AT_Survey</targetReference>
            </connector>
            <label>AT - CSAT</label>
        </rules>
        <rules>
            <name>CH_CSAT</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>de_CH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CH_Survey</targetReference>
            </connector>
            <label>CH - CSAT</label>
        </rules>
        <rules>
            <name>UK_CSAT</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_GB</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_Survey</targetReference>
            </connector>
            <label>UK - CSAT</label>
        </rules>
        <rules>
            <name>CA_CSAT</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_CA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CA_Survey</targetReference>
            </connector>
            <label>CA - CSAT</label>
        </rules>
        <rules>
            <name>AU_CSAT</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_AU</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AU_Survey</targetReference>
            </connector>
            <label>AU - CSAT</label>
        </rules>
        <rules>
            <name>BE_Dutch_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nl_be</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BE_Dutch_Survey</targetReference>
            </connector>
            <label>BE Dutch-CSAT</label>
        </rules>
        <rules>
            <name>BE_French_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr_BE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BE_French_Survey</targetReference>
            </connector>
            <label>BE French- CSAT</label>
        </rules>
        <rules>
            <name>DK_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>da_DK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DK_Survey</targetReference>
            </connector>
            <label>DK - CSAT</label>
        </rules>
        <rules>
            <name>ES_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>es_ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ES_Survey</targetReference>
            </connector>
            <label>ES - CSAT</label>
        </rules>
        <rules>
            <name>FI_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fi_FI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FI_Survey</targetReference>
            </connector>
            <label>FI - CSAT</label>
        </rules>
        <rules>
            <name>FR_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>fr_FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FR_Survey</targetReference>
            </connector>
            <label>FR - CSAT</label>
        </rules>
        <rules>
            <name>FRCA_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR_BE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FRCA_Survey</targetReference>
            </connector>
            <label>FRCA - CSAT</label>
        </rules>
        <rules>
            <name>IE_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_IE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IE_Survey</targetReference>
            </connector>
            <label>IE - CSAT</label>
        </rules>
        <rules>
            <name>NL_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>nl_NL</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NL_Survey</targetReference>
            </connector>
            <label>NL - CSAT</label>
        </rules>
        <rules>
            <name>NO_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>no_NO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NO_Survey</targetReference>
            </connector>
            <label>NO - CSAT</label>
        </rules>
        <rules>
            <name>NZ_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>en_NZ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NZ_Survey</targetReference>
            </connector>
            <label>NZ - CSAT</label>
        </rules>
        <rules>
            <name>SE_CSAT</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>International_Email</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Mobile_Help</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MC_Case_Record.Contact.Locale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>se_SE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SE_Survey</targetReference>
            </connector>
            <label>SE - CSAT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SurveySent</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>MC CSAT Alert based on Locale {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MC CSAT Alert based on RecordType/Language</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>MC_Case_Record</name>
        <label>MC Case Record</label>
        <locationX>2426</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MC_CSAT_Recordtype_language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MCRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AT_Survey_sent_Date</name>
        <label>AT Survey sent Date</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>AU_Survey_sent_Date</name>
        <label>AU Survey sent Date</label>
        <locationX>1370</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>BE_Dutch_Survey_sent_Date</name>
        <label>BE - Dutch Survey sent Date</label>
        <locationX>1634</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>BE_French_Survey_sent_Date</name>
        <label>BE- French Survey sent Date</label>
        <locationX>1898</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CA_Survey_sent_Date</name>
        <label>CA Survey sent Date</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>CH_Survey_sent_Date</name>
        <label>CH Survey sent Date</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>DE_Survey_sent_Date</name>
        <label>DE Survey sent Date</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>DK_Survey_sent_Date</name>
        <label>DK Survey sent Date</label>
        <locationX>2162</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>ES_Survey_sent_Date</name>
        <label>ES Survey sent Date</label>
        <locationX>2426</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FI_Survey_sent_Date</name>
        <label>FI Survey sent Date</label>
        <locationX>2690</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FR_Survey_sent_Date</name>
        <label>FR Survey sent Date</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>FRCA_Survey_sent_Date</name>
        <label>FRCA Survey sent Date</label>
        <locationX>3218</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>IE_Survey_sent_Date</name>
        <label>IE Survey sent Date</label>
        <locationX>3482</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>NL_Survey_sent_Date</name>
        <label>NL Survey sent Date</label>
        <locationX>3746</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>NO_Survey_sent_Date</name>
        <label>NO Survey sent Date</label>
        <locationX>4010</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>NZ_Survey_sent_Date</name>
        <label>NZ Survey sent Date</label>
        <locationX>4274</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>SE_Survey_sent_Date</name>
        <label>SE Survey sent Date</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UK_Survey_sent_Date</name>
        <label>UK Survey sent Date</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MC_Case_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CSAT_Survey_Sent__c</field>
            <value>
                <elementReference>SurveySent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Survey_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>2300</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MC_Case_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>MCRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
