care/force-app/main/default/flows/NF_Bot_Update_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_prechat_form_routing</name>
        <label>Call prechat form routing</label>
        <locationX>94</locationX>
        <locationY>950</locationY>
        <actionName>ChatBotCreateCaseAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>routeCase</name>
            <value>
                <elementReference>prechatFormRouting</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>transcriptId</name>
            <value>
                <elementReference>Get_LiveChatTranscript.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChatBotCreateCaseAction</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_description_blank</name>
        <label>Is description blank?</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_description_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bot_Session_Data.IssueDescription__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Use_prechat_form_routing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_From_Email_Form</name>
        <label>Is From Email Form?</label>
        <locationX>226</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Is_description_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Is_From_Email_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>caseUpdateFromEmailForm</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Use_prechat_form_routing</name>
        <label>Use prechat form routing?</label>
        <locationX>226</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Use_prechat_form_routing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>prechatFormRouting</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_prechat_form_routing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>NF Bot Update Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NF Bot Update Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Bot_Session_Data</name>
        <label>Get Bot Session Data</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_LiveChatTranscript</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ebotdata__Live_Agent_Session_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ebotdata__Bot_Session__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_LiveChatTranscript</name>
        <label>Get LiveChatTranscript</label>
        <locationX>226</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_From_Email_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ChatKey</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sessionId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Use_prechat_form_routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LiveChatTranscript.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Article_Topic__c</field>
            <value>
                <elementReference>Get_Bot_Session_Data.Issue_Topic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Bot_Session_Data.IssueDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Get_Bot_Session_Data.Issue_Subject__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedEmail</field>
            <value>
                <elementReference>Get_Bot_Session_Data.Given_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedName</field>
            <value>
                <elementReference>Get_Bot_Session_Data.Customer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SuppliedPhone</field>
            <value>
                <elementReference>Get_Bot_Session_Data.Given_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Default</name>
        <label>Update Case Default</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Use_prechat_form_routing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_LiveChatTranscript.CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Bot_Session_Data.IssueDescription__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Bot_Session_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseUpdateFromEmailForm</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>prechatFormRouting</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>sessionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
