care/force-app/main/default/flows/ODS_Error_Email_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>ODS_Error_Email_Alert</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Send Error Email Alert</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.ODS_Error_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ODS_Error_Email_Alert</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>ODS_Error_Email_Alert_INTL</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Send Error Email Alert</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.ODS_Error_Email_Alert_INTL</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ODS_Error_Email_Alert_INTL</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Error generated from US Case?</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>Error generated from INTL Case?</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Sends an Email alert every time an ODS error is generated.  May be turned off in favor of the Error Monitor if this is generating too many errors.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].IS_ODS_COMPLETE__C,
OR(TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - Salesforce&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - US Platform&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - International Platform&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - Unknown&apos;),
TEXT([Case].ODS_REQUEST_PLATFORM__C)=&apos;US&apos;,
($Setup.Override_Validation_Rules__c.Override_Case_Processes__c= FALSE)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.Is_ODS_Complete__c},
OR(TEXT({!myVariable_current.ODS_Request_Status__c})=&apos;Error - Salesforce&apos;,
TEXT({!myVariable_current.ODS_Request_Status__c})=&apos;Error - US Platform&apos;,
TEXT({!myVariable_current.ODS_Request_Status__c})=&apos;Error - International Platform&apos;,
TEXT({!myVariable_current.ODS_Request_Status__c})=&apos;Error - Unknown&apos;),
TEXT({!myVariable_current.ODS_Request_Platform__c})=&apos;US&apos;,
({!$Setup.Override_Validation_Rules__c.Override_Case_Processes__c}= FALSE)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].IS_ODS_COMPLETE__C,
OR(TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - Salesforce&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - US Platform&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - International Platform&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - Unknown&apos;),
TEXT([Case].ODS_REQUEST_PLATFORM__C)=&apos;US&apos;,
($Setup.Override_Validation_Rules__c.Override_Case_Processes__c= FALSE)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_old.Is_ODS_Complete__c},
OR(TEXT({!myVariable_old.ODS_Request_Status__c})=&apos;Error - Salesforce&apos;,
TEXT({!myVariable_old.ODS_Request_Status__c})=&apos;Error - US Platform&apos;,
TEXT({!myVariable_old.ODS_Request_Status__c})=&apos;Error - International Platform&apos;,
TEXT({!myVariable_old.ODS_Request_Status__c})=&apos;Error - Unknown&apos;),
TEXT({!myVariable_old.ODS_Request_Platform__c})=&apos;US&apos;,
({!$Setup.Override_Validation_Rules__c.Override_Case_Processes__c}= FALSE)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].IS_ODS_COMPLETE__C,
OR(TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - Salesforce&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - US Platform&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - International Platform&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - Unknown&apos;),
TEXT([Case].ODS_REQUEST_PLATFORM__C)=&apos;International&apos;,
($Setup.Override_Validation_Rules__c.Override_Case_Processes__c= FALSE)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.Is_ODS_Complete__c},
OR(TEXT({!myVariable_current.ODS_Request_Status__c})=&apos;Error - Salesforce&apos;,
TEXT({!myVariable_current.ODS_Request_Status__c})=&apos;Error - US Platform&apos;,
TEXT({!myVariable_current.ODS_Request_Status__c})=&apos;Error - International Platform&apos;,
TEXT({!myVariable_current.ODS_Request_Status__c})=&apos;Error - Unknown&apos;),
TEXT({!myVariable_current.ODS_Request_Platform__c})=&apos;International&apos;,
({!$Setup.Override_Validation_Rules__c.Override_Case_Processes__c}= FALSE)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].IS_ODS_COMPLETE__C,
OR(TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - Salesforce&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - US Platform&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - International Platform&apos;,
TEXT([Case].ODS_REQUEST_STATUS__C)=&apos;Error - Unknown&apos;),
TEXT([Case].ODS_REQUEST_PLATFORM__C)=&apos;International&apos;,
($Setup.Override_Validation_Rules__c.Override_Case_Processes__c= FALSE)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_old.Is_ODS_Complete__c},
OR(TEXT({!myVariable_old.ODS_Request_Status__c})=&apos;Error - Salesforce&apos;,
TEXT({!myVariable_old.ODS_Request_Status__c})=&apos;Error - US Platform&apos;,
TEXT({!myVariable_old.ODS_Request_Status__c})=&apos;Error - International Platform&apos;,
TEXT({!myVariable_old.ODS_Request_Status__c})=&apos;Error - Unknown&apos;),
TEXT({!myVariable_old.ODS_Request_Platform__c})=&apos;International&apos;,
({!$Setup.Override_Validation_Rules__c.Override_Case_Processes__c}= FALSE)
)</expression>
    </formulas>
    <interviewLabel>ODS_Error_Email_Alert-4_InterviewLabel</interviewLabel>
    <label>ODS Error Email Alert</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
