care/force-app/main/default/flows/Privacy_Request_US_Platform.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Acknowledgement</name>
        <label>Acknowledgement</label>
        <locationX>2558</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Acknowledgement_US</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Request_Accepted_PR</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Acknowledgement_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>B2B_Exception</name>
        <label>B2B Exception</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.B2B_Exception_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.B2B_Exception_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Case_Closure</name>
        <label>Case Closure</label>
        <locationX>4010</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Case_Closure_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Case_Closure_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Data_Access_Request_US</name>
        <label>Data Access Request US</label>
        <locationX>4274</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Data_Access_Request_US</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Set_Status_to_Completed_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Data_Access_Request_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Data_Categories_Request_US</name>
        <label>Data Categories Request US</label>
        <locationX>4538</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Data_Categories_Request_US</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Copy_1_of_Set_Status_to_Completed_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Data_Categories_Request_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Delete_Request_Fulfilled_US</name>
        <label>Delete Request Fulfilled US</label>
        <locationX>4802</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Delete_Request_Fulfilled_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Delete_Request_Fulfilled_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Denied_Request_For_Deletion</name>
        <label>Denied Request For Deletion</label>
        <locationX>1898</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Denied_Request_For_Deletion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Denied_Request_For_Deletion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Denied_Request_for_Deletion_US</name>
        <label>Denied Request for Deletion US</label>
        <locationX>2162</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Denied_Request_For_Deletion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Denied_Request_For_Deletion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Denied_Request_for_Deletion_USPR</name>
        <label>Denied Request for Deletion USPR</label>
        <locationX>3482</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Denied_Request_For_Deletion</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Denied_Request_For_Deletion</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Multiple_Delete_Requests</name>
        <label>Multiple Delete Requests</label>
        <locationX>3218</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Multiple_Delete_Requests_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Multiple_Delete_Requests_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Premium_Subscription</name>
        <label>Premium Subscription</label>
        <locationX>3746</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Premium_Subscription_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Premium_Subscription_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Reauthorization_Failed</name>
        <label>Reauthorization Failed</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Reauthorization_Failed_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Reauthorization_Failed_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Refer_Request_to_Web_Form</name>
        <label>Refer Request to Web Form</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Refer_Request_to_Web_Form_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Refer_Request_to_Web_Form_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Request_Expiration</name>
        <label>Request Expiration</label>
        <locationX>2954</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Request_Expiration_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Request_Expiration_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Requestor_Notification</name>
        <label>Requestor Notification</label>
        <locationX>2426</locationX>
        <locationY>566</locationY>
        <actionName>Privacy_Request__c.Requestor_Notification_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Requestor_Notification_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Unverified_3_Data_Points</name>
        <label>Unverified 3 Data Points</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Unverified_3_Data_Points_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Unverified_3_Data_Points_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Unverified_LT2_Data_Points</name>
        <label>Unverified LT2 Data Points</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Unverified_LT2_Data_Points_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Unverified_LT2_Data_Points_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>US_Non_CA_Resident</name>
        <label>US Non-CA-Resident</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Non_CA_Resident_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Non_CA_Resident_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Verification_Failure</name>
        <label>Verification Failure</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Verification_Failure_US</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Verification_Failure_US</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>PR_Requested_US</name>
        <label>PR Requested US</label>
        <locationX>2558</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refer_Request_to_Web_Form</targetReference>
            </connector>
            <label>Requested</label>
        </rules>
        <rules>
            <name>Verification_Failure_Unverified_LT2_Data_Points</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Failed - Verification Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Password Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unverified_LT2_Data_Points</targetReference>
            </connector>
            <label>Verification Failure / Unverified LT2 Data Points</label>
        </rules>
        <rules>
            <name>Verification_Failure_Unverified_3_Data_Points</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Failed - Verification Failure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Password Missing</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name Incorrect</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unverified_3_Data_Points</targetReference>
            </connector>
            <label>Verification Failure / Unverified 3 Data Points</label>
        </rules>
        <rules>
            <name>Verification_Failure_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Failed - Verification Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verification_Failure</targetReference>
            </connector>
            <label>Verification Failure / Default</label>
        </rules>
        <rules>
            <name>Declined_Remote_Reauthorization_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Declined - Remote Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reauthorization Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reauthorization_Failed</targetReference>
            </connector>
            <label>Declined-Remote / Reauthorization Failed</label>
        </rules>
        <rules>
            <name>Declined_Remote_US_Non_CA_Resident</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Declined - Remote Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unsupported Geography</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>US_Non_CA_Resident</targetReference>
            </connector>
            <label>Declined-Remote / US Non-CA-Resident</label>
        </rules>
        <rules>
            <name>Declined_Remote_Invalid_Member_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Declined - Remote Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invalid Member Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>B2B_Exception</targetReference>
            </connector>
            <label>Declined-Remote / Invalid Member Type</label>
        </rules>
        <rules>
            <name>Declined_Remote_Safety</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Declined - Remote Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Member Closed For Safety</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_Request_For_Deletion</targetReference>
            </connector>
            <label>Declined-Remote / Safety</label>
        </rules>
        <rules>
            <name>Declined_Remote_Delete_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Declined - Remote Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_Request_for_Deletion_US</targetReference>
            </connector>
            <label>Declined-Remote / Delete / Default</label>
        </rules>
        <rules>
            <name>Request_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acknowledgement</targetReference>
            </connector>
            <label>Request Accepted</label>
        </rules>
        <rules>
            <name>Declined_Salesforce_Expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Declined - Salesforce Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expired</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Expiration</targetReference>
            </connector>
            <label>Declined-Salesforce / Expired</label>
        </rules>
        <rules>
            <name>Declined_Salesforce_Duplicate_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue> Completed - Declined - Salesforce Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fail_Decline_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duplicate Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Delete_Requests</targetReference>
            </connector>
            <label>Declined-Salesforce / Duplicate Request</label>
        </rules>
        <rules>
            <name>Declined_Salesforce_Delete_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Declined - Salesforce Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denied_Request_for_Deletion_USPR</targetReference>
            </connector>
            <label>Declined-Salesforce / Delete / Default</label>
        </rules>
        <rules>
            <name>Downgrading_Premium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued - Remote Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fulfillment_Date_Rationale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Downgrading Premium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Premium_Subscription</targetReference>
            </connector>
            <label>Downgrading Premium</label>
        </rules>
        <rules>
            <name>Recently_Cleared_Safety_Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued - Remote Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Fulfillment_Date_Rationale__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recently Cleared Safety Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Closure</targetReference>
            </connector>
            <label>Recently Cleared Safety Case</label>
        </rules>
        <rules>
            <name>Data_Access_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued - Salesforce Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Access_Request_US</targetReference>
            </connector>
            <label>Data Access Request</label>
        </rules>
        <rules>
            <name>Data_Categories_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued - Salesforce Platform</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Categories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Categories_Request_US</targetReference>
            </connector>
            <label>Data Categories Request</label>
        </rules>
        <rules>
            <name>Delete_Request_Fulfilled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Request_Fulfilled_US</targetReference>
            </connector>
            <label>Delete Request Fulfilled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Request_Accepted_PR</name>
        <label>Request Accepted PR</label>
        <locationX>2558</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Request_Accepted_Requestor_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Requestor_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requestor_Notification</targetReference>
            </connector>
            <label>Request Accepted / Requestor Notification</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Privacy Request - US Platform {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Request - US Platform</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PRRecord</name>
        <label>PRRecord</label>
        <locationX>2558</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PR_Requested_US</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrivacyRequestID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Privacy_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Set_Status_to_Completed_Success</name>
        <label>Copy 1 of Set Status to Completed - Success</label>
        <locationX>4538</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrivacyRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Completed - Success</stringValue>
            </value>
        </inputAssignments>
        <object>Privacy_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Status_to_Completed_Success</name>
        <label>Set Status to Completed - Success</label>
        <locationX>4274</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrivacyRequestID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Request_Status__c</field>
            <value>
                <stringValue>Completed - Success</stringValue>
            </value>
        </inputAssignments>
        <object>Privacy_Request__c</object>
    </recordUpdates>
    <start>
        <locationX>2432</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PRRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetPrivacyRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
