care/force-app/main/default/flows/Privacy_Request_Home_Pay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Acknowledgement</name>
        <label>Acknowledgement</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Acknowledgement_HP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PR_Request_Accepted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Acknowledgement_HP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Confirm_Delete</name>
        <label>Confirm Delete</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Confirm_Delete_HP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Confirm_Delete_HP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Data_Access_Request</name>
        <label>Data Access Request</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>Privacy_Request__c.Data_Access_Request_HP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PR_Request_Accepeted_Data_Categories</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Data_Access_Request_HP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Data_Categories_Request</name>
        <label>Data Categories Request</label>
        <locationX>842</locationX>
        <locationY>866</locationY>
        <actionName>Privacy_Request__c.Data_Categories_Request_HP</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>PR_Request_Accepted_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Data_Categories_Request_HP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Delete_Request_Fulfilled</name>
        <label>Delete Request Fulfilled</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Delete_Request_Fulfilled_HP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Delete_Request_Fulfilled_HP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Request_Denial</name>
        <label>Request Denial</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Request_Denial_HP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Request_Denial_HP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Requestor_Notification</name>
        <label>Requestor Notification</label>
        <locationX>842</locationX>
        <locationY>1166</locationY>
        <actionName>Privacy_Request__c.Requestor_Notification_HP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Requestor_Notification_HP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Verification_Failure_HomePay</name>
        <label>Verification Failure HomePay</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Verification_Failure_HP</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Verification_Failure_HP</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>PR_Request_Accepeted_Data_Categories</name>
        <label>PR Request Accepeted Data Categories</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>PR_Request_Accepted_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted_Data_Categories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Categories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Categories_Request</targetReference>
            </connector>
            <label>Accepted/Data Categories</label>
        </rules>
    </decisions>
    <decisions>
        <name>PR_Request_Accepted</name>
        <label>PR Request Accepted</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>PR_Request_Accepeted_Data_Categories</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted_Data_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Access_Request</targetReference>
            </connector>
            <label>Accepted/Data Request</label>
        </rules>
    </decisions>
    <decisions>
        <name>PR_Request_Accepted_Email</name>
        <label>PR Request Accepted Email</label>
        <locationX>974</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Requestor_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requestor_Notification</targetReference>
            </connector>
            <label>Accepted/Requestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Privacy_request_HomePay</name>
        <label>Privacy request HomePay</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requested_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Delete</targetReference>
            </connector>
            <label>Requested/Delete</label>
        </rules>
        <rules>
            <name>Verification_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Failed - Verification Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verification_Failure_HomePay</targetReference>
            </connector>
            <label>Verification Failure</label>
        </rules>
        <rules>
            <name>Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Declined - Remote Platform</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Denial</targetReference>
            </connector>
            <label>Declined</label>
        </rules>
        <rules>
            <name>Accepted_Acknowledgement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acknowledgement</targetReference>
            </connector>
            <label>Accepted/Acknowledgement</label>
        </rules>
        <rules>
            <name>Success_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Request_Fulfilled</targetReference>
            </connector>
            <label>Success/Delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Privacy Request - Home Pay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Request - Home Pay</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PRRecord</name>
        <label>PRRecord</label>
        <locationX>842</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Privacy_request_HomePay</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrivacyRequestID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Privacy_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PRRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetPrivacyRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
