care/force-app/main/default/flows/Privacy_Request_Galore.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Acknowledgement</name>
        <label>Acknowledgement</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Acknowledgement_Galore</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Galore_Request_Accepted</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Acknowledgement_Galore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Data_Access_Request</name>
        <label>Data Access Request</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <actionName>Privacy_Request__c.Data_Access_Request_Galore</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Data_Access_Request_Galore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Data_Categories_Request</name>
        <label>Data Categories Request</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <actionName>Privacy_Request__c.Data_Categories_Request_Galore</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Data_Categories_Request_Galore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Delete_Request_Fulfilled</name>
        <label>Delete Request Fulfilled</label>
        <locationX>1634</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Delete_Request_Fulfilled_Galore</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Delete_Request_Fulfilled_Galore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Refer_Request_to_Web_Form</name>
        <label>Refer Request to Web Form</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Refer_Request_to_Web_Form_Galore</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Refer_Request_to_Web_Form_Galore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Requestor_Notification</name>
        <label>Requestor Notification</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <actionName>Privacy_Request__c.Requestor_Notification_Galore</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Requestor_Notification_Galore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Verification_Failure_Galore</name>
        <label>Verification Failure Galore</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>Privacy_Request__c.Verification_Failure_Galore</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>PRRecord.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Privacy_Request__c.Verification_Failure_Galore</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Galore_Request_Accepted</name>
        <label>Galore Request Accepted</label>
        <locationX>974</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted_Data_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Access Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Access_Request</targetReference>
            </connector>
            <label>Accepted/Data Request</label>
        </rules>
        <rules>
            <name>Accepted_Data_Categories</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Data Categories</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Data_Categories_Request</targetReference>
            </connector>
            <label>Accepted/Data Categories</label>
        </rules>
        <rules>
            <name>Accepted_Requestor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Requestor_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requestor_Notification</targetReference>
            </connector>
            <label>Accepted/Requestor</label>
        </rules>
    </decisions>
    <decisions>
        <name>PR_Notifications_Galore</name>
        <label>PR Notifications Galore</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Requested</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refer_Request_to_Web_Form</targetReference>
            </connector>
            <label>Requested</label>
        </rules>
        <rules>
            <name>Verification_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Failed - Verification Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verification_Failure_Galore</targetReference>
            </connector>
            <label>Verification Failure</label>
        </rules>
        <rules>
            <name>Accepted_Acknowledgement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Acknowledgement</targetReference>
            </connector>
            <label>Accepted/Acknowledgement</label>
        </rules>
        <rules>
            <name>Success_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PRRecord.Request_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed - Success</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>PRRecord.Request_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Data</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Request_Fulfilled</targetReference>
            </connector>
            <label>Success/Delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Privacy Request Galore {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Privacy Request Galore</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>PRRecord</name>
        <label>PRRecord</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PR_Notifications_Galore</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPrivacyRequestID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Privacy_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PRRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetPrivacyRequestID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
