care/force-app/main/default/flows/Reviews_Reputation_Studio.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>BBBURL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://www.bbb.org/us/tx/austin/profile/caregiver-resources/carecom-inc-0825-1000199532/customer-reviews</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_New</name>
        <label>Is New?</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Review_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Review_Owner</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <description>A Flow to replace the Reputation Studio Reviews process builder.</description>
    <environments>Default</environments>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NOWFormula</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <description>Takes the first 50 characters from the Review</description>
        <name>TitleFormula</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!$Record.revue__Review__c}, 50))</expression>
    </formulas>
    <interviewLabel>Reputation Studio Reviews {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reviews - Reputation Studio</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Site_Location_Null</name>
        <label>Site &amp; Location = Null</label>
        <locationX>314</locationX>
        <locationY>1175</locationY>
        <connector>
            <targetReference>Update_Review_Closed_Date</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>revue__Site__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>revue__Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>revue__Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Google</stringValue>
            </value>
        </filters>
        <filters>
            <field>revue__Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SiteJabber</stringValue>
            </value>
        </filters>
        <filters>
            <field>revue__Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BBB</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>revue__Location__c</field>
            <value>
                <elementReference>USVariable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BBB_Review_URL</name>
        <label>Update BBB Review URL</label>
        <locationX>314</locationX>
        <locationY>1415</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>revue__Origin__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BBB</stringValue>
            </value>
        </filters>
        <filters>
            <field>revue__Review_URL__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>revue__Review_URL__c</field>
            <value>
                <elementReference>BBBURL_Variable</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Language_to_English</name>
        <label>Update Language to English</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Title</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>revue__Language__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>revue__Language__c</field>
            <value>
                <stringValue>English</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location</name>
        <label>Update Location</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Site_Location_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>revue__Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>revue__Site__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>revue__Location__c</field>
            <value>
                <elementReference>$Record.revue__Site__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Closed_Date</name>
        <label>Update Review Closed Date</label>
        <locationX>314</locationX>
        <locationY>1295</locationY>
        <connector>
            <targetReference>Update_BBB_Review_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>revue__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Review_Closed_Date__c</field>
            <value>
                <elementReference>NOWFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_ID</name>
        <label>Update Review ID</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Update_Language_to_English</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>REV-</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Review_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Review_Owner</name>
        <label>Update Review Owner</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>Review_Owner__c</field>
            <value>
                <stringValue>0055Y00000He4m8</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Site</name>
        <label>Update Site</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Update_Location</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>revue__Site__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>revue__Location__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>revue__Site__c</field>
            <value>
                <elementReference>$Record.revue__Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Update_Site</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>revue__Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>revue__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Title</name>
        <label>Update Title</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>revue__Title__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>revue__Title__c</field>
            <value>
                <elementReference>TitleFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <object>revue__Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>BBBURL_Variable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>https://www.bbb.org/us/tx/austin/profile/caregiver-resources/carecom-inc-0825-1000199532/customer-reviews</stringValue>
        </value>
    </variables>
    <variables>
        <name>USVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>US</stringValue>
        </value>
    </variables>
</Flow>
