care/force-app/main/default/flows/Set_Case_Owner_for_Chat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <description>Logic: Is Chat Owner different than Case Owner AND is owned by a User (as opposed to a queue)</description>
        <name>Should_we_change_Case_Owner</name>
        <label>Should we change Case Owner?</label>
        <locationX>374</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Different_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Chat.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Child_Chat.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Chat</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Child_Chat.Owner:User.UserType</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AutomatedProcess</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Chat_Owner_as_Case_Owner</targetReference>
            </connector>
            <label>Different Owner</label>
        </rules>
    </decisions>
    <description>The purpose of this flow is to manage the owner of the Case Owner for Chat Case records. By default, Salesforce assigns those Case records to the Automated Process user.

Logic:
If Case Owner is Automated Process &amp; ODS is complete &amp; Origin is Chat:
Spin up Asynchronous path
Query child Chat record
If Chat Owner is different from Case Owner &amp; chat is owned by User
Set Case Owner to Chat Owner.
Update Case</description>
    <environments>Default</environments>
    <interviewLabel>Set Case Owner for Chat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Case Owner for Chat - Case RT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>The Salesforce model technically allows multiple chats per case, so we&apos;ll grab the most recent one (which is likely our target).</description>
        <name>Get_Child_Chat</name>
        <label>Get Child Chat Record</label>
        <locationX>374</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_we_change_Case_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LiveChatTranscript</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Chat_Owner_as_Case_Owner</name>
        <label>Set Chat Owner as Case Owner</label>
        <locationX>242</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Child_Chat.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Is_ODS_Complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </filters>
        <filters>
            <field>Owner_License__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutomatedProcess</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Child_Chat</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
