care/force-app/main/default/flows/Status_Action_Needed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>AR for MC closed Case (Non Social media)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Member Care FR Email</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>AR_for_MC_closed_Case_Non_Social_media</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AR_for_MC_closed_Case_Non_Social_media</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>AR for MC closed Case (Non Social media)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Member Care SP</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>AR_for_MC_closed_Case_Non_Social_media</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AR_for_MC_closed_Case_Non_Social_media</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>AR for MC closed Case (Non Social media)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Member Care GE</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>AR_for_MC_closed_Case_Non_Social_media</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AR_for_MC_closed_Case_Non_Social_media</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>process</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>AR for MC closed Case (Non Social media)</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Member Care EN</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>AR_for_MC_closed_Case_Non_Social_media</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>SObject</stringValue>
                </value>
            </processMetadataValues>
            <name>SObject</name>
            <value>
                <elementReference>myVariable_current.Parent</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AR_for_MC_closed_Case_Non_Social_media</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Member Care FR Email Alert - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Member Care SP Email Alert - Closed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Member Care GE Email Alert</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Member Care EN Email Alert - Closed Default</label>
        </rules>
    </decisions>
    <description>Email Message, include SFORCE-2874</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>   AND(

 	ISPICKVAL([EmailMessage].Parent.Member_Language__c ,&apos;French&apos;),
	[EmailMessage].Incoming =True,   
	[EmailMessage].Parent.IsClosed = TRUE,
        NOT(ISBLANK([EmailMessage].Parent.SuppliedEmail)),
	  
        OR(
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;Standard&apos;,
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;Call_Center&apos;,
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;International_Call_Center&apos;,
	
        [EmailMessage].Parent.MC_Email__c = True
	)
        
   )             </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>   AND(

 	ISPICKVAL({!myVariable_current.Parent.Member_Language__c} ,&apos;French&apos;),
	{!myVariable_current.Incoming} =True,   
	{!myVariable_current.Parent.IsClosed} = TRUE,
        NOT(ISBLANK({!myVariable_current.Parent.SuppliedEmail})),
	  
        OR(
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;Standard&apos;,
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;Call_Center&apos;,
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;International_Call_Center&apos;,
	
        {!myVariable_current.Parent.MC_Email__c} = True
	)
        
   )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>   AND(

 	ISPICKVAL([EmailMessage].Parent.Member_Language__c ,&apos;Spanish&apos;),
	[EmailMessage].Incoming =True,   
	[EmailMessage].Parent.IsClosed = TRUE,
        NOT(ISBLANK([EmailMessage].Parent.SuppliedEmail)),
	  
        OR(
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;Standard&apos;,
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;Call_Center&apos;,
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;International_Call_Center&apos;,
	
        [EmailMessage].Parent.MC_Email__c = True
	)
        
   )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>   AND(

 	ISPICKVAL({!myVariable_current.Parent.Member_Language__c} ,&apos;Spanish&apos;),
	{!myVariable_current.Incoming} =True,   
	{!myVariable_current.Parent.IsClosed} = TRUE,
        NOT(ISBLANK({!myVariable_current.Parent.SuppliedEmail})),
	  
        OR(
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;Standard&apos;,
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;Call_Center&apos;,
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;International_Call_Center&apos;,
	
        {!myVariable_current.Parent.MC_Email__c} = True
	)
        
   )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

 	ISPICKVAL([EmailMessage].Parent.Member_Language__c ,&apos;German&apos;),
	[EmailMessage].Incoming =True,   
	[EmailMessage].Parent.IsClosed = TRUE,
        NOT(ISBLANK([EmailMessage].Parent.SuppliedEmail)),
	  
        OR(
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;Standard&apos;,
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;Call_Center&apos;,
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;International_Call_Center&apos;,
	
        [EmailMessage].Parent.MC_Email__c = True
	)
        
   )			</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(

 	ISPICKVAL({!myVariable_current.Parent.Member_Language__c} ,&apos;German&apos;),
	{!myVariable_current.Incoming} =True,   
	{!myVariable_current.Parent.IsClosed} = TRUE,
        NOT(ISBLANK({!myVariable_current.Parent.SuppliedEmail})),
	  
        OR(
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;Standard&apos;,
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;Call_Center&apos;,
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;International_Call_Center&apos;,
	
        {!myVariable_current.Parent.MC_Email__c} = True
	)
        
   )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>   AND(
        [EmailMessage].Parent.Owner:Queue.DeveloperName  &lt;&gt; &apos;Careteam_care_com_Sunset&apos;,
	[EmailMessage].Incoming =True,   
	[EmailMessage].Parent.IsClosed = TRUE,
        NOT(ISBLANK([EmailMessage].Parent.SuppliedEmail)),
	  
        OR(
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;Standard&apos;,
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;Call_Center&apos;,
        [EmailMessage].Parent.RecordType.DeveloperName = &apos;International_Call_Center&apos;,
	
        [EmailMessage].Parent.MC_Email__c = True
	)    
   )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>   AND(
        {!myVariable_current.Parent.Owner:Queue.DeveloperName}  &lt;&gt; &apos;Careteam_care_com_Sunset&apos;,
	{!myVariable_current.Incoming} =True,   
	{!myVariable_current.Parent.IsClosed} = TRUE,
        NOT(ISBLANK({!myVariable_current.Parent.SuppliedEmail})),
	  
        OR(
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;Standard&apos;,
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;Call_Center&apos;,
        {!myVariable_current.Parent.RecordType.DeveloperName} = &apos;International_Call_Center&apos;,
	
        {!myVariable_current.Parent.MC_Email__c} = True
	)    
   )</expression>
    </formulas>
    <interviewLabel>Status_Action_Needed-10_InterviewLabel</interviewLabel>
    <label>Status Action Needed</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>EmailMessage</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>EmailMessage</objectType>
    </variables>
</Flow>
