care/force-app/main/default/flows/Stripe_Refunds.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Cast_Balance_Response</name>
        <label>Cast Balance Response</label>
        <locationX>3992</locationX>
        <locationY>1508</locationY>
        <actionName>StripeCastToBalanceResponse</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Determine_Balance_Amounts</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>Get_Balance</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StripeCastToBalanceResponse</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_Charges_To_SObjects</name>
        <label>Convert Charges To SObjects</label>
        <locationX>2747</locationX>
        <locationY>877</locationY>
        <actionName>StripeCharge</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Charges</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>stripeChargeResponse</name>
            <value>
                <elementReference>Get_Charges_From_Stripe.data</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StripeCharge</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_customer_created_to_datetime</name>
        <label>Convert customer created to datetime</label>
        <locationX>1902</locationX>
        <locationY>552</locationY>
        <actionName>ConvertUnixTimestamp</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Add_Customer_to_collection</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>unixTimestamp</name>
            <value>
                <elementReference>Customers_from_Stripe.created</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertUnixTimestamp</nameSegment>
        <outputParameters>
            <assignToReference>SingleCustomerSObject.Customer_Created__c</assignToReference>
            <name>convertedDateTime</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_Refunds_to_SObject</name>
        <label>Convert Refunds to SObject</label>
        <locationX>3420</locationX>
        <locationY>883</locationY>
        <actionName>StripeRefund</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Number_Of_Refunds</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>stripeRefundResponse</name>
            <value>
                <elementReference>Get_Refunds_From_Stripe.data</elementReference>
            </value>
        </inputParameters>
        <nameSegment>StripeRefund</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Balance</name>
        <label>Get Balance</label>
        <locationX>3965</locationX>
        <locationY>1091</locationY>
        <actionName>stripeGC__AgnosticInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cast_Balance_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>connectAccount</name>
            <value>
                <elementReference>ChargesForCustomer.firstSelectedRow.Destination__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>endpoint</name>
            <value>
                <stringValue>/v1/balance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>method</name>
            <value>
                <stringValue>GET</stringValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__AgnosticInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Charges_From_Stripe</name>
        <label>Get Charges From Stripe</label>
        <locationX>2450</locationX>
        <locationY>871</locationY>
        <actionName>stripeGC__v01_GetChargesSearch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_Charges_To_SObjects</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>query</name>
            <value>
                <elementReference>chargeQuery</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_limit</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_GetChargesSearch</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Customer_from_Stripe</name>
        <label>Get Customer from Stripe</label>
        <locationX>1701</locationX>
        <locationY>872</locationY>
        <actionName>stripeGC__v01_ListCustomers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Customers_from_Stripe</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>email</name>
            <value>
                <elementReference>CustomerEmail.value</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_ListCustomers</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Get_Refunds_From_Stripe</name>
        <label>Get Refunds From Stripe</label>
        <locationX>3200</locationX>
        <locationY>887</locationY>
        <actionName>stripeGC__v01_ListRefunds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_Refunds_to_SObject</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>charge</name>
            <value>
                <elementReference>ChargesForCustomer.firstSelectedRow.ChargeId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>r_limit</name>
            <value>
                <numberValue>100.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_ListRefunds</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Perform_Refund_With_Stripe</name>
        <label>Perform Refund With Stripe</label>
        <locationX>4612</locationX>
        <locationY>892</locationY>
        <actionName>stripeGC__v01_CreateRefunds</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Refund_Status</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_with_refund</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountRecordId</name>
            <value>
                <elementReference>Get_Stripe_Account.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>amount</name>
            <value>
                <elementReference>RefundAmountToSentToStripe</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>charge</name>
            <value>
                <elementReference>ChargesForCustomer.firstSelectedRow.ChargeId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>refundApplicationFee</name>
            <value>
                <elementReference>ReverseTransfer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reverseTransfer</name>
            <value>
                <elementReference>ReverseTransfer</elementReference>
            </value>
        </inputParameters>
        <nameSegment>stripeGC__v01_CreateRefunds</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Customer_to_collection</name>
        <label>Add Customer to collection</label>
        <locationX>2016</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>ListOfCustomers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleCustomerSObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Customers_from_Stripe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Available</name>
        <label>Available</label>
        <locationX>4222</locationX>
        <locationY>1181</locationY>
        <assignmentItems>
            <assignToReference>balanceTransactionAvailableSoon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_Balance_Response.pendingAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundApplicationFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReverseTransfer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>balanceTransactionAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_Balance_Response.availableAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pay From Provider Account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DetermineRefundAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Available_Soon</name>
        <label>Available Soon</label>
        <locationX>4369</locationX>
        <locationY>1137</locationY>
        <assignmentItems>
            <assignToReference>balanceTransactionAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_Balance_Response.availableAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundApplicationFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReverseTransfer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>balanceTransactionAvailableSoon</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cast_Balance_Response.pendingAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pay from provider account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DetermineRefundAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_charges</name>
        <label>Clear charges</label>
        <locationX>2437</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>ListOfCharges</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>ListOfCharges</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Charges_From_Stripe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_customer_found</name>
        <label>No customer found</label>
        <locationX>1783</locationX>
        <locationY>1179</locationY>
        <assignmentItems>
            <assignToReference>CustomersFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stripe_Refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Nothing_available_or_available_soon</name>
        <label>Nothing available or available soon</label>
        <locationX>4531</locationX>
        <locationY>1061</locationY>
        <assignmentItems>
            <assignToReference>balanceTransactionAvailable</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>balanceTransactionAvailableSoon</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RefundApplicationFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReverseTransfer</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>refundSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pay from Care account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DetermineRefundAmount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_Of_Customers</name>
        <label>Number Of Customers</label>
        <locationX>2051</locationX>
        <locationY>881</locationY>
        <assignmentItems>
            <assignToReference>NumberOfCustomers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListOfCustomers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>How_many_customers_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_Of_Refunds</name>
        <label>Number Of Refunds</label>
        <locationX>3623</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>NumberOfRefunds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Convert_Refunds_to_SObject.stripeRefundSObjects</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Refunds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Customer_Record</name>
        <label>Populate Customer Record</label>
        <locationX>1783</locationX>
        <locationY>673</locationY>
        <assignmentItems>
            <assignToReference>SingleCustomerSObject.Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customers_from_Stripe.email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCustomerSObject.Customer_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customers_from_Stripe.name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCustomerSObject.Stripe_Customer_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customers_from_Stripe.id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleCustomerSObject.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Customers_from_Stripe.description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_customer_created_to_datetime</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Refunds_Exist</name>
        <label>Refunds Exist</label>
        <locationX>3938</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>RefundsExist</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Refunds</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>A</promptText>
        </userInput>
    </choices>
    <choices>
        <name>B</name>
        <choiceText>B</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>B</promptText>
        </userInput>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PayFromCareAccount</name>
        <choiceText>Pay from care account</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>PayFromProviderAccount</name>
        <choiceText>Pay from provider account</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>TestA</name>
        <choiceText>Test A</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>TestB</name>
        <choiceText>Test B</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Are_There_Refunds</name>
        <label>Are There Refunds?</label>
        <locationX>3827</locationX>
        <locationY>897</locationY>
        <defaultConnector>
            <targetReference>Display_Refunds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Refunds</defaultConnectorLabel>
        <rules>
            <name>There_Are_Refunds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfRefunds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refunds_Exist</targetReference>
            </connector>
            <label>There Are Refunds</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Balance_Amounts</name>
        <label>Determine Balance Amounts</label>
        <locationX>4448</locationX>
        <locationY>1470</locationY>
        <defaultConnector>
            <targetReference>Nothing_available_or_available_soon</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_Amount_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cast_Balance_Response.availableAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available</targetReference>
            </connector>
            <label>Available Amount Greater Than 0</label>
        </rules>
        <rules>
            <name>Available_Soon_Greater_Than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cast_Balance_Response.pendingAmount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available_Soon</targetReference>
            </connector>
            <label>Available Soon Greater Than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_many_customers_found</name>
        <label>How many customers found</label>
        <locationX>2204</locationX>
        <locationY>1088</locationY>
        <defaultConnector>
            <targetReference>No_customer_found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>At_least_one</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfCustomers</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Customer_Data</targetReference>
            </connector>
            <label>At least one</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refund_Status</name>
        <label>Refund Status</label>
        <locationX>4802</locationX>
        <locationY>1010</locationY>
        <defaultConnector>
            <targetReference>Error_with_refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Perform_Refund_With_Stripe.status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>succeeded</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Refund_Record</targetReference>
            </connector>
            <label>Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_perform_another_refund</name>
        <label>Should perform another refund?</label>
        <locationX>5542</locationX>
        <locationY>71</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_perform_another_refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_perform_another_refund</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_charges</targetReference>
            </connector>
            <label>Yes - perform another refund</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_recordId_passed_in</name>
        <label>Was recordId passed in?</label>
        <locationX>1042</locationX>
        <locationY>885</locationY>
        <defaultConnector>
            <targetReference>Stripe_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No recordId</defaultConnectorLabel>
        <rules>
            <name>There_is_a_recordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>There is a recordId</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Picklist_A__c</picklistField>
        <picklistObject>Stripe_Refund__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choices2</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Picklist_B__c</picklistField>
        <picklistObject>Stripe_Refund__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AmountCurrencyFormatted</name>
        <dataType>Currency</dataType>
        <expression>{!ChargesForCustomer.firstSelectedRow.Amount_Formatted__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>balanceTransactionAvailableFormatted</name>
        <dataType>Currency</dataType>
        <expression>{!balanceTransactionAvailable} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>balanceTransactionAvailableSoonFormatted</name>
        <dataType>Currency</dataType>
        <expression>{!balanceTransactionAvailableSoon} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ChargeAvailableForRefund</name>
        <dataType>Currency</dataType>
        <expression>if(({!SingleChargeSObject.AmountCaptured__c} - {!SingleChargeSObject.AmountRefunded__c}) &gt; 0, ({!SingleChargeSObject.AmountCaptured__c} - {!SingleChargeSObject.AmountRefunded__c}) / 100,
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>chargeQuery</name>
        <dataType>String</dataType>
        <expression>&quot;metadata[\&quot;category\&quot;]:\&quot;INSTANT_BOOK\&quot; AND customer:\&quot;&quot; + {!CustomerSObjectList.firstSelectedRow.Stripe_Customer_Id__c} + &quot;\&quot;&quot;</expression>
    </formulas>
    <formulas>
        <name>NumberOfChargesSelectedMinusOne</name>
        <dataType>Number</dataType>
        <expression>{!NumberOfChargesSelected} - 1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RefundAmountToSentToStripe</name>
        <dataType>Number</dataType>
        <expression>{!How_much_would_you_like_to_refund_currency} * 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RefundedAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Perform_Refund_With_Stripe.amount} / 100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Add balance transaction Id to endpoint</description>
        <name>StripeBalanceTransactionEndpoint</name>
        <dataType>String</dataType>
        <expression>&apos;/v1/balance_transactions/&apos; + {!ChargesForCustomer.firstSelectedRow.BalanceTransaction__c}</expression>
    </formulas>
    <interviewLabel>Stripe Refunds {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Stripe Refunds</label>
    <loops>
        <name>Customers_from_Stripe</name>
        <label>Customers from Stripe</label>
        <locationX>1905</locationX>
        <locationY>873</locationY>
        <collectionReference>Get_Customer_from_Stripe.data</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Populate_Customer_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Number_Of_Customers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Refund_Record</name>
        <label>Insert Refund Record</label>
        <locationX>5070</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>PerformRefundResults</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AmountFromResponse__c</field>
            <value>
                <elementReference>Perform_Refund_With_Stripe.amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Balance_Transaction__c</field>
            <value>
                <elementReference>Perform_Refund_With_Stripe.balanceTransaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Get_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Charge__c</field>
            <value>
                <elementReference>Perform_Refund_With_Stripe.charge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Perform_Refund_With_Stripe.r_currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Perform_Refund_With_Stripe.description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Intent__c</field>
            <value>
                <elementReference>Perform_Refund_With_Stripe.paymentIntent</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Application_Fee__c</field>
            <value>
                <elementReference>ReverseTransfer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Refund_Id__c</field>
            <value>
                <elementReference>Perform_Refund_With_Stripe.id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Reason__c</field>
            <value>
                <elementReference>dependent_picklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Return_Type__c</field>
            <value>
                <elementReference>dependent_picklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reverse_Transfer__c</field>
            <value>
                <elementReference>ReverseTransfer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Perform_Refund_With_Stripe.status</elementReference>
            </value>
        </inputAssignments>
        <object>Stripe_Refund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1250</locationX>
        <locationY>981</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Stripe_Refund</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Stripe_Account</name>
        <label>Get Stripe Account</label>
        <locationX>772</locationX>
        <locationY>905</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_recordId_passed_in</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>stripeGC__Stripe_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Confirm_Refund</name>
        <label>Confirm Refund</label>
        <locationX>4472</locationX>
        <locationY>884</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Change Amount/Reason</backButtonLabel>
        <connector>
            <targetReference>Perform_Refund_With_Stripe</targetReference>
        </connector>
        <fields>
            <name>RefundConfirmationText</name>
            <fieldText>&lt;p&gt;The following refund will be performed:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customer:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CustomerSObjectList.firstSelectedRow.Customer_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CustomerSObjectList.firstSelectedRow.Email__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Amount of original transaction:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!AmountCurrencyFormatted}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Amount to refund:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!How_much_would_you_like_to_refund_currency}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Return Type:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!dependent_picklist.topValue}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Return Reason:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!dependent_picklist.middleValue}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account Balances&lt;/strong&gt;:&lt;/p&gt;&lt;p&gt;Available to pay out: {!balanceTransactionAvailableFormatted}&lt;/p&gt;&lt;p&gt;Available soon: {!balanceTransactionAvailableSoonFormatted}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Refund Source:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!refundSource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DetermineRefundAmount</name>
        <label>DetermineRefundAmount</label>
        <locationX>4282</locationX>
        <locationY>893</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Refund</targetReference>
        </connector>
        <fields>
            <name>Amount_Able_To_Be_Refunded</name>
            <fieldText>&lt;p&gt;Amount available to refund:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;${!ChargesForCustomer.firstSelectedRow.Available_For_Refund__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_much_would_you_like_to_refund_currency</name>
            <dataType>Currency</dataType>
            <fieldText>How much would you like to refund?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid amount up to ${!ChargesForCustomer.firstSelectedRow.Available_For_Refund__c}&lt;/p&gt;</errorMessage>
                <formulaExpression>AND({!How_much_would_you_like_to_refund_currency} &lt;= {!ChargesForCustomer.firstSelectedRow.Available_For_Refund__c})</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>dependent_picklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Stripe_Refund__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Return_Type__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Return_Reason__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <stringValue>Booking</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_Balances</name>
            <fieldText>&lt;p&gt;Account Balances:&lt;/p&gt;&lt;p&gt;Available to pay out: {!balanceTransactionAvailableFormatted}&lt;/p&gt;&lt;p&gt;Available soon: {!balanceTransactionAvailableSoonFormatted}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Should_transfer_be_reversed</name>
            <choiceReferences>PayFromProviderAccount</choiceReferences>
            <choiceReferences>PayFromCareAccount</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>RefundApplicationFee</elementReference>
            </defaultValue>
            <fieldText>Please select an account for payout</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>allowUserToChangeRefundSource</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayRefundSource</name>
            <fieldText>&lt;p&gt;Refund Source: {!refundSource}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Charges</name>
        <label>Display Charges</label>
        <locationX>2987</locationX>
        <locationY>881</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Refunds_From_Stripe</targetReference>
        </connector>
        <fields>
            <name>ChargesSelectedError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 1, 1);&quot;&gt;Please select charges with a refundable amount greater that 0&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SelectedChargesAreValid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ChargesForCustomer</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>StripeChargeResponse__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Select Charge(s) To Refund</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Convert_Charges_To_SObjects.stripeChargeSObjects</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Amount_Formatted__c&quot;,&quot;guid&quot;:&quot;column-d8c6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Amount Formatted&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Amount_Captured_Formatted__c&quot;,&quot;guid&quot;:&quot;column-3c6d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Captured&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount Captured Formatted&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Available_For_Refund__c&quot;,&quot;guid&quot;:&quot;column-f199&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Refundable&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Available For Refund&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Amount_Refunded_Formatted__c&quot;,&quot;guid&quot;:&quot;column-7025&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Refunded&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Amount Refunded Formatted&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Date_Charged__c&quot;,&quot;guid&quot;:&quot;column-1b07&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Date Charged&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Category__c&quot;,&quot;guid&quot;:&quot;column-5ea8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Category&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Category&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status__c&quot;,&quot;guid&quot;:&quot;column-d087&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Status&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ChargeId__c&quot;,&quot;guid&quot;:&quot;column-e12a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Charge Id&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;ChargeId&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Customer_Data</name>
        <label>Display Customer Data</label>
        <locationX>2220</locationX>
        <locationY>873</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Charges_From_Stripe</targetReference>
        </connector>
        <fields>
            <name>CustomerSObjectList</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>StripeCustomerResponse__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Customers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>ListOfCustomers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Customer_Name__c&quot;,&quot;guid&quot;:&quot;column-26f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Customer Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email__c&quot;,&quot;guid&quot;:&quot;column-9326&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Stripe_Customer_Id__c&quot;,&quot;guid&quot;:&quot;column-071b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Stripe Customer Id&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Stripe Customer Id&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-66ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Description&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Customer_Created__c&quot;,&quot;guid&quot;:&quot;column-762e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Created&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Customer Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Refunds</name>
        <label>Display Refunds</label>
        <locationX>4118</locationX>
        <locationY>894</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Balance</targetReference>
        </connector>
        <fields>
            <name>Previous_Refunds</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Stripe_Refund__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Convert_Refunds_to_SObject.stripeRefundSObjects</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Amount_Formatted__c&quot;,&quot;guid&quot;:&quot;column-f3e9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Amount Formatted&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Charge__c&quot;,&quot;guid&quot;:&quot;column-91c5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Charge&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Date_Refunded__c&quot;,&quot;guid&quot;:&quot;column-8354&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Date&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Date Refunded&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Refund_Id__c&quot;,&quot;guid&quot;:&quot;column-23a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Refund Id&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NoRefunds</name>
            <fieldText>&lt;p&gt;There are no refunds for this charge.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RefundsExist</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_with_refund</name>
        <label>Error with refund</label>
        <locationX>4810</locationX>
        <locationY>774</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RefundError</name>
            <fieldText>&lt;p&gt;There was an error processing the refund.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Perform_Refund_With_Stripe}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Perform_Another_Refund</name>
        <label>Perform Another Refund?</label>
        <locationX>5528</locationX>
        <locationY>912</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Should_perform_another_refund</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_perform_another_refund</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to perform another refund?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>PerformRefundResults</name>
        <label>PerformRefundResults</label>
        <locationX>5287</locationX>
        <locationY>912</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Perform_Another_Refund</targetReference>
        </connector>
        <fields>
            <name>DisplayRefundedData</name>
            <fieldText>&lt;p&gt;Refund Complete.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Customer:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CustomerSObjectList.firstSelectedRow.Customer_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Email:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!CustomerSObjectList.firstSelectedRow.Email__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Amount of original transaction:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!AmountCurrencyFormatted}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Amount Refunded:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!RefundedAmount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Return Type:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!dependent_picklist.topValue}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Return Reason:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!dependent_picklist.middleValue}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Refund Source:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!refundSource}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Stripe_Refund</name>
        <label>Stripe Refund</label>
        <locationX>1475</locationX>
        <locationY>871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Customer_from_Stripe</targetReference>
        </connector>
        <fields>
            <name>NoCustomerFound</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(250, 4, 4); background-color: rgb(255, 255, 255);&quot;&gt;&lt;/strong&gt;&lt;strong style=&quot;color: rgb(247, 5, 5); background-color: rgb(255, 255, 255);&quot;&gt;No customer was found, please enter a different email address.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>CustomersFound</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CustomerEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please enter customer&apos;s email address:</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Get_Case.ContactEmail</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>711</locationY>
        <connector>
            <targetReference>Get_Stripe_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allowUserToChangeRefundSource</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>AmountAvailableForRefund</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>AmountToRefund</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>arrivalDate</name>
        <apexClass>stripeGC__ListBalanceTransactionsAvailableOnPa</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>balanceTransactionAvailable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>balanceTransactionAvailableSoon</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Charge1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>Charge1List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>Charge2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>Charge2List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>ChargesMetadata</name>
        <apexClass>stripeGC__Metadata</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CustomersFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DateRanges</name>
        <apexClass>stripeGC__ListCreatedParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListOfAllChargesToRefund</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>ListOfCharges</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>ListOfChargesSelected</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>ListOfChargesSelected2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>ListOfCustomers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeCustomerResponse__c</objectType>
    </variables>
    <variables>
        <name>ListOfPaymentIntents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripePaymentIntentResponse__c</objectType>
    </variables>
    <variables>
        <name>ListOfRefunds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeRefundResponse__c</objectType>
    </variables>
    <variables>
        <name>ListOfStripeRefunds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stripe_Refund__c</objectType>
    </variables>
    <variables>
        <name>ListOfStripeRefundsAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stripe_Refund__c</objectType>
    </variables>
    <variables>
        <name>NumberOfChargesSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfCustomers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberOfRefunds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PayoutExists</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RefundApplicationFee</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>RefundsExist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>refundSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReverseTransfer</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SelectedChargesAreValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>SingleChargeSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeChargeResponse__c</objectType>
    </variables>
    <variables>
        <name>SingleCustomerSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeCustomerResponse__c</objectType>
    </variables>
    <variables>
        <name>SinglePaymentIntentSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripePaymentIntentResponse__c</objectType>
    </variables>
    <variables>
        <name>SingleRefundSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>StripeRefundResponse__c</objectType>
    </variables>
    <variables>
        <name>SingleStripeRefund</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Stripe_Refund__c</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateValue>2023-02-01</dateValue>
        </value>
    </variables>
    <variables>
        <name>StripeChargeResponses</name>
        <apexClass>stripeGC__Charge</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testCreatedParameter</name>
        <apexClass>stripeGC__ListCreatedParameter</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testMultipleCharges</name>
        <apexClass>stripeGC__Charge</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testPayout</name>
        <apexClass>stripeGC__Payout</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testRefundBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{   &quot;id&quot;: &quot;re_Test&quot;,   &quot;object&quot;: &quot;refund&quot;,   &quot;amount&quot;: 100,   &quot;balance_transaction&quot;: null,   &quot;charge&quot;: &quot;ch_3NIx37Lpw5ZaWGur1m2pPVz7&quot;,   &quot;currency&quot;: &quot;usd&quot;,   &quot;metadata&quot;: {},   &quot;reason&quot;: null,   &quot;receipt_number&quot;: null,   &quot;source_transfer_reversal&quot;: null,   &quot;transfer_reversal&quot;: null }</stringValue>
        </value>
    </variables>
    <variables>
        <name>testRequestBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>email=saveflowtest3@care.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>TESTSingleCharge</name>
        <apexClass>stripeGC__Charge</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
