care/force-app/main/default/flows/SurveyFeedback_LifeCare_Case_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>LifeCare_Case_Survey</name>
        <label>LifeCare Case Survey</label>
        <locationX>710</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LifeCare_Survey_Feedback</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LifeCare_Case_Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CAREATWORK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Care Online</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Feedback_Case_Name</targetReference>
            </connector>
            <label>LifeCare Survey Feedback</label>
        </rules>
        <rules>
            <name>LeaveCoach_Survey</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LifeCare_Case_Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leave Coordination</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case__r.Program_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LEAVECOACH</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Feedback_Leave_Coach_Name</targetReference>
            </connector>
            <label>LeaveCoach Survey</label>
        </rules>
        <rules>
            <name>Excluding_LifeCare_Case_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LifeCare_Case_Survey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Expert_Assist_Survey_Feedback</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Senior_Care_Survey_feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Last_Survey_Response_Date_on_Contact_except_for_LifeCare</targetReference>
            </connector>
            <label>Excluding-LifeCare Case Survey</label>
        </rules>
        <rules>
            <name>SeniorCare_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Senior_Care_Survey_feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Feedback_Sr_Care</targetReference>
            </connector>
            <label>SeniorCare Survey</label>
        </rules>
        <rules>
            <name>EA_Search_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Expert_Assist_Survey_Feedback</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Survey_Feedback_EA_Search</targetReference>
            </connector>
            <label>EA Search Survey</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>EASurveyName</name>
        <dataType>String</dataType>
        <expression>&quot;Feedback for EA Case&quot; &amp; &apos; &apos; &amp; &quot;&apos;&quot; &amp; {!$Record.Case__r.CaseNumber} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>LeaveCoachSurveyName</name>
        <dataType>String</dataType>
        <expression>&quot;Feedback for LeaveCoach Case&quot; &amp; &apos; &apos; &amp; &quot;&apos;&quot; &amp; {!$Record.Case__r.CaseNumber} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>SrCareSurveyName</name>
        <dataType>String</dataType>
        <expression>&quot;Feedback for Sr Care Case&quot; &amp; &apos; &apos; &amp; &quot;&apos;&quot; &amp; {!$Record.Case__r.CaseNumber} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>SurveyName</name>
        <dataType>String</dataType>
        <expression>&quot;Feedback for Care Specialist Case&quot; &amp; &apos; &apos; &amp; &quot;&apos;&quot; &amp; {!$Record.Case__r.CaseNumber} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>Todaysdate</name>
        <dataType>Date</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>TodaysDatetime</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SurveyFeedback {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SurveyFeedback - Last Survey Response Date Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>EA_Case_Record_Update_on_Case</name>
        <label>EA Case Record Update on Case</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>EA_Last_Survey_Response_Date_on_Contact</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8)</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000HqKTAA0</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000HqKnAAK</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01239000000UQW2AAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000UQ5zAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002WGAiQAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01270000000UQ7qAAG</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01239000000N8qtAAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>Todaysdate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>EA_Last_Survey_Response_Date_on_Contact</name>
        <label>EA Last Survey Response Date on Contact</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>TodaysDatetime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Survey_Response_Date_on_Contact</name>
        <label>Last Survey Response Date on Contact</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>TodaysDatetime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Last Survey Response Date on Contact except for LifeCare</description>
        <name>Last_Survey_Response_Date_on_Contact_except_for_LifeCare</name>
        <label>Last Survey Response Date on Contact except for LifeCare</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>TodaysDatetime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Last_Survey_Response_Date_on_Contact_for_Leave_Coach</name>
        <label>Last Survey Response Date on Contact for Leave Coach</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>TodaysDatetime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>LifeCare_Case_Record_Update_on_Case</name>
        <label>LifeCare Case Record Update on Case</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Last_Survey_Response_Date_on_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002WGuoQAG</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>Todaysdate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>LifeCare_Leave_Coach_Case_Update</name>
        <label>LifeCare Leave Coach Case Update</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Last_Survey_Response_Date_on_Contact_for_Leave_Coach</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002WGuoQAG</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>Todaysdate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sr_Care_Case_Record_Update_on_Case</name>
        <label>Sr.Care Case Record Update on Case</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Sr_Care_Last_Survey_Response_Date_on_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Case__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012700000005hnCAAQ</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>Todaysdate</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Sr_Care_Last_Survey_Response_Date_on_Contact</name>
        <label>Sr.Care Last Survey Response Date on Contact</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsPersonAccount</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Survey_Response_Date__c</field>
            <value>
                <elementReference>TodaysDatetime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Survey_Feedback_Case_Name</name>
        <label>Survey Feedback Case Name</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>LifeCare_Case_Record_Update_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002WHaHQAW</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SurveyName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Survey_Feedback_EA_Search</name>
        <label>Survey Feedback EA Search</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>EA_Case_Record_Update_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012DC000000FizpYAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>EASurveyName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Survey_Feedback_Leave_Coach_Name</name>
        <label>Survey Feedback Leave Coach Name</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>LifeCare_Leave_Coach_Case_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125Y000002WHaHQAW</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>LeaveCoachSurveyName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Survey_Feedback_Sr_Care</name>
        <label>Survey Feedback Sr.Care</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Sr_Care_Case_Record_Update_on_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>012DC000000FizqYAC</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>SrCareSurveyName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>LifeCare_Case_Survey</targetReference>
        </connector>
        <object>Survey_Feedback__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
